# Aula 4 - pandas

Na aula de hoje, vamos explorar os seguintes tópicos em Python:

- 1) Manipulação de DataFrames (concat, merge, apply, groupby)
- 2) Métodos úteis (drop, rename, sort_values, sort_index, reset_index, max, min, mean, median, sum, cumsum, quantile, describe, value_counts, unique, nunique)
- 3) Limpeza de Dados (dropna, fillna, isnull, notnull, replace, duplicated, drop_duplicated)

_______

### Objetivos

Apresentar o pandas, frisando sua importância para o processamento de dados e em data science. Apresentar seus principais conceitos (Series, DataFrame) e funcionalidades (leitura de arquivo, filtros, seleção, apply, escrita de arquivos, etc.)

### Habilidades a serem desenvolvidas nessa aula

Ao final da aula o aluno deve:

- Saber como concatenar dataframes,
- Conseguir agrupar os dados e aplicar vários métodos à eles
- Aprender a limpar uma base de dados.

____
____
____

## Titanic

O arquivo que usaremos hoje é relativo ao Titanic! Essa é uma das bases mais famosas de ciência de dados. Você pode saber mais sobre estes dados [clicando aqui!](https://www.kaggle.com/c/titanic)

In [ ]:
import pandas as pd

In [ ]:
# lê dataframe do arquivo titanic.csv 
df = pd.read_csv("data/titanic.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df.tail(15)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

Agora que temos uma base mais complexa, vamos aproveitar para ver agora algumas outras funcionalidades do Pandas!

### Métodos
O pandas possui alguns métodos para entendermos melhor a estrutura dos dados:

#### .describe()

In [ ]:
# .describe(include='all') descreve estatísticas básicas sobre as colunas
# repare que nesse caso o próprio pandas fez o trabalho de reconhecer quais colunas são as numéricas
df.describe(include='all')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Lefebre, Miss. Jeannie",male,NaN,NaN,NaN,1601,NaN,G6,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

#### .info()
.info() fornece a quantidade de valores não nulos e o tipo de cada coluna

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

#### .value_counts()
`.value_counts()` traz a contagem de elementos pra cada valor distinto da coluna em que está sendo aplicado.

In [ ]:
df['Pclass'].value_counts(dropna=False)

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [ ]:
df['Cabin'].value_counts()

G6             4
B96 B98        4
C23 C25 C27    4
F33            3
F2             3
              ..
D48            1
B41            1
B71            1
B78            1
B37            1
Name: Cabin, Length: 147, dtype: int64

#### .unique()
retorna quem são os valores únicos da sua coluna. Equivalente ao DISTINCT column no SQL

In [ ]:
df.Embarked.unique()

array(['S', 'C', 'Q', nan], dtype=object)

#### nunique()
retorna a quantidade de valores únicos da sua coluna. Equivalente ao COUNT (DISTINCT column) no SQL

In [ ]:
df.Embarked.nunique()

3

#### .rename()
Você consegue renomear tanto o nome das colunas quanto o índice (axis='index').

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# vamos criar uma cópia do df
df_copy = df.copy()
df_copy.rename({'Age':'Idade', 'Name':'Nome'}, axis=1, inplace=True)
df_copy.head()

,PassengerId,Survived,Pclass,Nome,Sex,Idade,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

#### .drop()
Permite deletar linhas ou colunas inteiras dependendo do parâmetro `axis`. É um dos métodos que aceita o parâmetro `inplace`.

In [ ]:
df_copy.drop(['Nome','Idade'], axis=1)

,PassengerId,Survived,Pclass,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,male,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,female,1,0,PC 17599,71.2833,C85,C
2,3,1,3,female,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,female,1,0,113803,53.1000,C123,S
4,5,0,3,male,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,0,0,211536,13.0000,NaN,S
887,888,1,1,female,0,0,112053,30.0000,B42,S
888,889,0,3,female,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,male,0,0,111369,30.0000,C148,C
890,891,0,3,male,0,0,370376,7.7500,NaN,Q

In [ ]:
df_copy.drop([0,1,6,7])

,PassengerId,Survived,Pclass,Nome,Sex,Idade,SibSp,Parch,Ticket,Fare,Cabin,Embarked
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

#### .sort_values()
Como diz o nome, o método é utilizado para ordenar os dados baseado em uma ou mais colunas. Para retornar a ordem reversa utilize o argumento `ascending=True`. É um dos métodos que aceita o parâmetro `inplace`.

In [ ]:
df.sort_values(['Pclass','Fare'])

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
263,264,0,1,"Harrison, Mr. William",male,40.0,0,0,112059,0.00,B94,S
633,634,0,1,"Parr, Mr. William Henry Marsh",male,NaN,0,0,112052,0.00,NaN,S
806,807,0,1,"Andrews, Mr. Thomas Jr",male,39.0,0,0,112050,0.00,A36,S
815,816,0,1,"Fry, Mr. Richard",male,NaN,0,0,112058,0.00,B102,S
822,823,0,1,"Reuchlin, Jonkheer. John George",male,38.0,0,0,19972,0.00,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
201,202,0,3,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,69.55,NaN,S
324,325,0,3,"Sage, Mr. George John Jr",male,NaN,8,2,CA. 2343,69.55,NaN,S
792,793,0,3,"Sage, Miss. Stella Anna",female,NaN,8,2,CA. 2343,69.55,NaN,S
846,847,0,3,"Sage, Mr. Douglas Bullen",male,NaN,8,2,CA. 2343,69.55,NaN,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.55,NaN,S

In [ ]:
df.sort_values(['Pclass','Fare','Age'], ascending=[True, False, True])

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.0,3,2,19950,263.0000,C23 C25 C27,S
...,...,...,...,...,...,...,...,...,...,...,...,...
378,379,0,3,"Betros, Mr. Tannous",male,20.0,0,0,2648,4.0125,NaN,C
302,303,0,3,"Johnson, Mr. William Cahoone Jr",male,19.0,0,0,LINE,0.0000,NaN,S
271,272,1,3,"Tornquist, Mr. William Henry",male,25.0,0,0,LINE,0.0000,NaN,S
179,180,0,3,"Leonard, Mr. Lionel",male,36.0,0,0,LINE,0.0000,NaN,S
597,598,0,3,"Johnson, Mr. Alfred",male,49.0,0,0,LINE,0.0000,NaN,S

## Limpeza de dados

#### .isna() e isnull()
retorna um df booleano indicando se existe um nulo naquela posição. `pd.isnull()` é um alias para `pd.isna()` dentro do python como podemos ver na <a href="https://github.com/pandas-dev/pandas/blob/0409521665bd436a10aea7e06336066bf07ff057/pandas/core/dtypes/missing.py#L109">documentação</a>. O pandas dataframe é baseado nos df do R, onde null e na tem sentidos distintos.

In [ ]:
pd.isnull

In [ ]:
df.isna()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

Para termos a quantidade de nans em cada coluna podemos somar os valores true:

In [ ]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

#### .notnull()
retorna df com True ou False, com True para elementos não nulos

In [ ]:
df.notnull().sum()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [ ]:
df.notnull().sum().sum()

9826

#### .dropna()
elimina nulos em todo o df ou em colunas especificadas. É um dos métodos que aceita o parâmetro `inplace`.

In [ ]:
df.dropna(subset=['Age', 'Embarked']).isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          529
Embarked         0
dtype: int64

In [ ]:
df.dropna().isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [ ]:
df.dropna(subset=['Age','Embarked']).isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          529
Embarked         0
dtype: int64

É possível utilizar o pandas para fazer **agrupar dados**:

#### .fillna()
preeche os valores nulos com valores especificados. <br>
Parâmetros úteis:
* __method__ {‘bfill’,‘ffill’, None}, default None <br>
    Preenche os nas propagando o último valor válido para frente (ffill) ou utiliza próxima observação válida para preencher os nulos (bfill).
* __axis__ {0 para ‘index’, 1 para ‘colunas’} <br>
    Eixo no qual se quer preencher os nulos
* __inplace__ {booleano}, default False

In [ ]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
mn = df.Age.mean()

In [ ]:
df.Age.fillna(df.Age.mean())

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Quais soluções poderíamos utilizar para preencher os nulos em Age? <br>
E as cabines nulas? <br>
E os portões de embarque nulos? <br>
Qual os possíveis problemas que podemos encontrar utilizando essas abordagens?

In [ ]:
df[(df['Pclass']==3) & (df['Fare']==0)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
179,180,0,3,"Leonard, Mr. Lionel",male,36.0,0,0,LINE,0.0,NaN,S
271,272,1,3,"Tornquist, Mr. William Henry",male,25.0,0,0,LINE,0.0,NaN,S
302,303,0,3,"Johnson, Mr. William Cahoone Jr",male,19.0,0,0,LINE,0.0,NaN,S
597,598,0,3,"Johnson, Mr. Alfred",male,49.0,0,0,LINE,0.0,NaN,S

In [ ]:
pd.set_option('display.max_rows', 1000)

In [ ]:
df.sort_values('Name', ascending=False, ).head(200)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.50,0,2,A/5. 851,14.5000,NaN,S
361,362,0,2,"del Carlo, Mr. Sebastiano",male,29.00,1,0,SC/PARIS 2167,27.7208,NaN,C
282,283,0,3,"de Pelsmaeker, Mr. Alfons",male,16.00,0,0,345778,9.5000,NaN,S
286,287,1,3,"de Mulder, Mr. Theodore",male,30.00,0,0,345774,9.5000,NaN,S
559,560,1,3,"de Messemaeker, Mrs. Guillaume Joseph (Emma)",female,36.00,1,0,345572,17.4000,NaN,S
422,423,0,3,"Zimmerman, Mr. Leo",male,29.00,0,0,315082,7.8750,NaN,S
240,241,0,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C
111,112,0,3,"Zabour, Miss. Hileni",female,14.50,1,0,2665,14.4542,NaN,C
199,200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24.00,0,0,248747,13.0000,NaN,S
495,496,0,3,"Yousseff, Mr. Gerious",male,NaN,0,0,2627,14.4583,NaN,C
354,355,0,3,"Yousif, Mr. Wazli",male,NaN,0,0,2647,7.2250,NaN,C
203,204,0,3,"Youseff, Mr. Gerious",male,45.50,0,0,2628,7.2250,NaN,C
325,326,1,1,"Young, Miss. Marie Grice",female,36.00,0,0,PC 17760,135.6333,C32,C
830,831,1,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.00,1,0,2659,14.4542,NaN,C
620,621,0,3,"Yasbeck, Mr. Antoni",male,27.00,1,0,2659,14.4542,NaN,C
555,556,0,1,"Wright, Mr. George",male,62.00,0,0,113807,26.5500,NaN,S
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
425,426,0,3,"Wiseman, Mr. Phillippe",male,NaN,0,0,A/4. 34244,7.2500,NaN,S
491,492,0,3,"Windelov, Mr. Einar",male,21.00,0,0,SOTON/OQ 3101317,7.2500,NaN,S
351,352,0,1,"Williams-Lambert, Mr. Fletcher Fellows",male,NaN,0,0,113510,35.0000,C128,S
735,736,0,3,"Williams, Mr. Leslie",male,28.50,0,0,54636,16.1000,NaN,S
304,305,0,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.0500,NaN,S
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
155,156,0,1,"Williams, Mr. Charles Duane",male,51.00,0,1,PC 17597,61.3792,NaN,C
648,649,0,3,"Willey, Mr. Edward",male,NaN,0,0,S.O./P.P. 751,7.5500,NaN,S
673,674,1,2,"Wilhelms, Mr. Charles",male,31.00,0,0,244270,13.0000,NaN,S
371,372,0,3,"Wiklund, Mr. Jakob Alfred",male,18.00,1,0,3101267,6.4958,NaN,S
377,378,0,1,"Widener, Mr. Harry Elkins",male,27.00,0,2,113503,211.5000,C82,C
406,407,0,3,"Widegren, Mr. Carl/Charles Peter",male,51.00,0,0,347064,7.7500,NaN,S
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.00,1,1,36928,164.8667,NaN,S
318,319,1,1,"Wick, Miss. Mary Natalie",female,31.00,0,2,36928,164.8667,C7,S
102,103,0,1,"White, Mr. Richard Frasar",male,21.00,0,1,35281,77.2875,D26,S
124,125,0,1,"White, Mr. Percival Wayland",male,54.00,0,1,35281,77.2875,D26,S
33,34,0,2,"Wheadon, Mr. Edward H",male,66.00,0,0,C.A. 24579,10.5000,NaN,S
472,473,1,2,"West, Mrs. Edwy Arthur (Ada Mary Worth)",female,33.00,1,2,C.A. 34651,27.7500,NaN,S
450,451,0,2,"West, Mr. Edwy Arthur",male,36.00,1,2,C.A. 34651,27.7500,NaN,S
58,59,1,2,"West, Miss. Constance Mirium",female,5.00,1,2,C.A. 34651,27.7500,NaN,S
750,751,1,2,"Wells, Miss. Joan",female,4.00,1,1,29103,23.0000,NaN,S
133,134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.00,1,0,228414,26.0000,NaN,S
694,695,0,1,"Weir, Col. John",male,60.00,0,0,113800,26.5500,NaN,S
511,512,0,3,"Webber, Mr. James",male,NaN,0,0,SOTON/OQ 3101316,8.0500,NaN,S
123,124,1,2,"Webber, Miss. Susan",female,32.50,0,0,27267,13.0000,E101,S
161,162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40.00,0,0,C.A. 33595,15.7500,NaN,S
674,675,0,2,"Watson, Mr. Ennis Hastings",male,NaN,0,0,239856,0.0000,NaN,S
366,367,1,1,"Warren, Mrs. Frank Manley (Anna Sophia Atkinson)",female,60.00,1,0,110813,75.2500,D37,C
258,259,1,1,"Ward, Miss. Anna",female,35.00,0,0,PC 17755,512.3292,NaN,C
515,516,0,1,"Walker, Mr. William Anderson",male,47.00,0,0,36967,34.0208,D46,S
80,81,0,3,"Waelens, Mr. Achille",male,22.00,0,0,345767,9.0000,NaN,S
521,522,0,3,"Vovk, Mr. Janko",male,22.00,0,0,349252,7.8958,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.00,1,0,345763,18.0000,NaN,S
333,334,0,3,"Vander Planke, Mr. Leo Edmondus",male,16.00,2,0,345764,18.0000,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.00,2,0,345764,18.0000,NaN,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.00,0,0,345765,9.0000,NaN,S
355,356,0,3,"Vanden Steen, Mr. Leo Peter",male,28.00,0,0,345783,9.5000,NaN,S
200,201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28.00,0,0,345770,9.5000,NaN,S
752,753,0,3,"Vande Velde, Mr. Johannes Joseph",male,33.00,0,0,345780,9.5000,NaN,S
170,171,0,1,"Van der hoef, Mr. Wyckoff",male,61.00,0,0,111240,33.5000,B19,S
799,800,0,3,"Van Impe, Mrs. Jean Baptiste (Rosalie Paula Go...",female,30.00,1,1,345773,24.1500,NaN,S
595,596,0,3,"Van Impe, Mr. Jean Baptiste",male,36.00,1,1,345773,24.1500,NaN,S
419,420,0,3,"Van Impe, Miss. Catharina",female,10.00,0,2,345773,24.1500,NaN,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.00,0,0,PC 17601,27.7208,NaN,C
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.00,1,0,11668,21.0000,NaN,S
117,118,0,2,"Turpin, Mr. William John Robert",male,29.00,1,0,11668,21.0000,NaN,S
483,484,1,3,"Turkula, Mrs. (Hedwig)",female,63.00,0,0,4134,9.5875,NaN,S
677,678,1,3,"Turja, Miss. Anna Sofia",female,18.00,0,0,4138,9.8417,NaN,S
189,190,0,3,"Turcin, Mr. Stjepan",male,36.00,0,0,349247,7.8958,NaN,S
717,718,1,2,"Troutt, Miss. Edwina Celia ""Winnie""",female,27.00,0,0,34218,10.5000,E101,S
399,400,1,2,"Trout, Mrs. William H (Jessie L)",female,28.00,0,0,240929,12.6500,NaN,S
734,735,0,2,"Troupiansky, Mr. Moses Aaron",male,23.00,0,0,233639,13.0000,NaN,S
255,256,1,3,"Touma, Mrs. Darwis (Hanne Youssef Razi)",female,29.00,0,2,2650,15.2458,NaN,C
531,532,0,3,"Toufik, Mr. Nakli",male,NaN,0,0,2641,7.2292,NaN,C
271,272,1,3,"Tornquist, Mr. William Henry",male,25.00,0,0,LINE,0.0000,NaN,S
603,604,0,3,"Torber, Mr. Ernst William",male,44.00,0,0,364511,8.0500,NaN,S
458,459,1,2,"Toomey, Miss. Ellen",female,50.00,0,0,F.C.C. 13531,10.5000,NaN,S
814,815,0,3,"Tomlin, Mr. Ernest Portage",male,30.50,0,0,364499,8.0500,NaN,S
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
776,777,0,3,"Tobin, Mr. Roger",male,NaN,0,0,383121,7.7500,F38,Q
382,383,0,3,"Tikkanen, Mr. Juho",male,32.00,0,0,STON/O 2. 3101293,7.9250,NaN,S
431,432,1,3,"Thorneycroft, Mrs. Percival (Florence Kate White)",female,NaN,1,0,376564,16.1000,NaN,S
639,640,0,3,"Thorneycroft, Mr. Percival",male,NaN,1,0,376564,16.1000,NaN,S
256,257,1,1,"Thorne, Mrs. Gertrude Maybelle",female,NaN,0,0,PC 17585,79.2000,NaN,C
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C
758,759,0,3,"Theobald, Mr. Thomas Leonard",male,34.00,0,0,363294,8.0500,NaN,S
581,582,1,1,"Thayer, Mrs. John Borland (Marian Longstreth M...",female,39.00,1,1,17421,110.8833,C68,C
550,551,1,1,"Thayer, Mr. John Borland Jr",male,17.00,0,2,17421,110.8833,C70,C
698,699,0,1,"Thayer, Mr. John Borland",male,49.00,1,1,17421,110.8833,C68,C
669,670,1,1,"Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)",female,NaN,1,0,19996,52.0000,C126,S
712,713,1,1,"Taylor, Mr. Elmer Zebley",male,48.00,1,0,19996,52.0000,C126,S
558,559,1,1,"Taussig, Mrs. Emil (Tillie Mandelbaum)",female,39.00,1,1,110413,79.6500,E67,S
262,263,0,1,"Taussig, Mr. Emil",male,52.00,1,1,110413,79.6500,E67,S
585,586,1,1,"Taussig, Miss. Ruth",female,18.00,0,2,110413,79.6500,E68,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.00,0,0,17466,25.9292,D17,S
499,500,0,3,"Svensson, Mr. Olof",male,24.00,0,0,350035,7.7958,NaN,S
851,852,0,3,"Svensson, Mr. Johan",male,74.00,0,0,347060,7.7750,NaN,S
625,626,0,1,"Sutton, Mr. Frederick",male,61.00,0,0,36963,32.3208,D50,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.00,0,0,SOTON/OQ 392076,7.0500,NaN,S
414,415,1,3,"Sundman, Mr. Johan Julian",male,44.00,0,0,STON/O 2. 3101269,7.9250,NaN,S
220,221,1,3,"Sunderland, Mr. Victor Francis",male,16.00,0,0,SOTON/OQ 392089,8.0500,NaN,S
251,252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.00,1,1,347054,10.4625,G6,S
205,206,0,3,"Strom, Miss. Telma Matilda",female,2.00,0,1,347054,10.4625,G6,S
744,745,1,3,"Stranden, Mr. Juho",male,31.00,0,0,STON/O 2. 3101288,7.9250,NaN,S
474,475,0,3,"Strandberg, Miss. Ida Sofia",female,22.00,0,0,7553,9.8375,NaN,S
566,567,0,3,"Stoytcheff, Mr. Ilia",male,19.00,0,0,349205,7.8958,NaN,S
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.00,0,0,113572,80.0000,B28,NaN
64,65,0,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C
591,592,1,1,"Stephenson, Mrs. Walter Bertram (Martha Eustis)",female,52.00,1,0,36947,78.2667,D20,C
252,253,0,1,"Stead, Mr. William Thomas",male,62.00,0,0,113514,26.5500,C87,S
494,495,0,3,"Stanley, Mr. Edward Roland",male,21.00,0,0,A/4 45380,8.0500,NaN,S
649,650,1,3,"Stanley, Miss. Amy Zillah Elsie",female,23.00,0,0,CA. 2314,7.5500,NaN,S
285,286,0,3,"Stankovic, Mr. Ivan",male,33.00,0,0,349239,8.6625,NaN,C
76,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S
632,633,1,1,"Stahelin-Maeglin, Dr. Max",male,32.00,0,0,13214,30.5000,B50,C
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
319,320,1,1,"Spedden, Mrs. Frederic Oakley (Margaretta Corn...",female,40.00,1,1,16966,134.5000,E34,C
488,489,0,3,"Somerton, Mr. Francis William",male,30.00,0,0,A.5. 18509,8.0500,NaN,S
715,716,0,3,"Soholt, Mr. Peter Andreas Lauritz Andersen",male,19.00,0,0,348124,7.6500,F G73,S
134,135,0,2,"Sobey, Mr. Samuel James Hayden",male,25.00,0,0,C.A. 29178,13.0000,NaN,S
260,261,0,3,"Smith, Mr. Thomas",male,NaN,0,0,384461,7.7500,NaN,Q
284,285,0,1,"Smith, Mr. Richard William",male,NaN,0,0,113056,26.0000,A19,S
174,175,0,1,"Smith, Mr. James Clinch",male,56.00,0,0,17764,30.6958,A7,C
346,347,1,2,"Smith, Miss. Marion Elsie",female,40.00,0,0,31418,13.0000,NaN,S
158,159,0,3,"Smiljanic, Mr. Mile",male,NaN,0,0,315037,8.6625,NaN,S
467,468,0,1,"Smart, Mr. John Montgomery",male,56.00,0,0,113792,26.5500,NaN,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.00,0,0,113788,35.5000,A6,S
87,88,0,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S
812,813,0,2,"Slemen, Mr. Richard James",male,35.00,0,0,28206,10.5000,NaN,S
322,323,1,2,"Slayter, Miss. Hilda Mary",female,30.00,0,0,234818,12.3500,NaN,Q
601,602,0,3,"Slabenoff, Mr. Petco",male,NaN,0,0,349214,7.8958,NaN,S
167,168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.00,1,4,347088,27.9000,NaN,S
360,361,0,3,"Skoog, Mr. Wilhelm",male,40.00,1,4,347088,27.9000,NaN,S
642,643,0,3,"Skoog, Miss. Margit Elizabeth",female,2.00,3,2,347088,27.9000,NaN,S
634,635,0,3,"Skoog, Miss. Mabel",female,9.00,3,2,347088,27.9000,NaN,S
819,820,0,3,"Skoog, Master. Karl Thorsten",male,10.00,3,2,347088,27.9000,NaN,S
63,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S
232,233,0,2,"Sjostedt, Mr. Ernst Adolf",male,59.00,0,0,237442,13.5000,NaN,S
786,787,1,3,"Sjoblom, Miss. Anna Sofia",female,18.00,0,0,3101265,7.4958,NaN,S
173,174,0,3,"Sivola, Mr. Antti Wilhelm",male,21.00,0,0,STON/O 2. 3101280,7.9250,NaN,S
561,562,0,3,"Sivic, Mr. Husein",male,40.00,0,0,349251,7.8958,NaN,S
837,838,0,3,"Sirota, Mr. Maurice",male,NaN,0,0,392092,8.0500,NaN,S
60,61,0,3,"Sirayanian, Mr. Orsen",male,22.00,0,0,2669,7.2292,NaN,C
747,748,1,2,"Sinkkonen, Miss. Anna",female,30.00,0,0,250648,13.0000,NaN,S
647,648,1,1,"Simonius-Blumer, Col. Oberst Alfons",male,56.00,0,0,13213,35.5000,A26,C
563,564,0,3,"Simmons, Mr. John",male,NaN,0,0,SOTON/OQ 392082,8.0500,NaN,S
577,578,1,1,"Silvey, Mrs. William Baird (Alice Munger)",female,39.00,1,0,13507,55.9000,E44,S
434,435,0,1,"Silvey, Mr. William Baird",male,50.00,1,0,13507,55.9000,E44,S
701,702,1,1,"Silverthorne, Mr. Spencer Victor",male,35.00,0,0,PC 17475,26.2875,E24,S
417,418,1,2,"Silven, Miss. Lyyli Karoliina",female,18.00,0,2,250652,13.0000,NaN,S
609,610,1,1,"Shutes, Miss. Elizabeth W",female,40.00,0,0,PC 17582,153.4625,C125,S
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.00,0,1,230433,26.0000,NaN,S
497,498,0,3,"Shellard, Mr. Frederick William",male,NaN,0,0,C.A. 6212,15.1000,NaN,S
81,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,345779,9.5000,NaN,S
551,552,0,2,"Sharp, Mr. Percival James R",male,27.00,0,0,244358,26.0000,NaN,S
447,448,1,1,"Seward, Mr. Frederic Kimber",male,34.00,0,0,113794,26.5500,NaN,S
842,843,1,1,"Serepeca, Miss. Augusta",female,30.00,0,0,113798,31.0000,NaN,C
343,344,0,2,"Sedgwick, Mr. Charles Frederick Waddington",male,25.00,0,0,244361,13.0000,NaN,S
410,411,0,3,"Sdycoff, Mr. Todor",male,NaN,0,0,349222,7.8958,NaN,S
468,469,0,3,"Scanlan, Mr. James",male,NaN,0,0,36209,7.7250,NaN,Q
676,677,0,3,"Sawyer, Mr. Frederick Charles",male,24.50,0,0,342826,8.0500,NaN,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.00,0,0,A/5. 2151,8.0500,NaN,S
394,395,1,3,"Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengt...",female,24.00,0,2,PP 9549,16.7000,G6,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C
528,529,0,3,"Salonen, Mr. Johan Werner",male,39.00,0,0,3101296,7.9250,NaN,S
106,107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21.00,0,0,343120,7.6500,NaN,S
641,642,1,1,"Sagesser, Mlle. Emma",female,24.00,0,0,PC 17477,69.3000,B35,C
324,325,0,3,"Sage, Mr. George John Jr",male,NaN,8,2,CA. 2343,69.5500,NaN,S
201,202,0,3,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,69.5500,NaN,S
846,847,0,3,"Sage, Mr. Douglas Bullen",male,NaN,8,2,CA. 2343,69.5500,NaN,S
792,793,0,3,"Sage, Miss. Stella Anna",female,NaN,8,2,CA. 2343,69.5500,NaN,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
180,181,0,3,"Sage, Miss. Constance Gladys",female,NaN,8,2,CA. 2343,69.5500,NaN,S
159,160,0,3,"Sage, Master. Thomas Henry",male,NaN,8,2,CA. 2343,69.5500,NaN,S
388,389,0,3,"Sadlier, Mr. Matthew",male,NaN,0,0,367655,7.7292,NaN,Q
298,299,1,1,"Saalfeld, Mr. Adolphe",male,NaN,0,0,19988,30.5000,C106,S
693,694,0,3,"Saad, Mr. Khalil",male,25.00,0,0,2672,7.2250,NaN,C
832,833,0,3,"Saad, Mr. Amin",male,NaN,0,0,2671,7.2292,NaN,C
742,743,1,1,"Ryerson, Miss. Susan Parker ""Suzette""",female,21.00,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
311,312,1,1,"Ryerson, Miss. Emily Borie",female,18.00,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
517,518,0,3,"Ryan, Mr. Patrick",male,NaN,0,0,371110,24.1500,NaN,Q
574,575,0,3,"Rush, Mr. Alfred George John",male,16.00,0,0,A/4. 20589,8.0500,NaN,S
56,57,1,2,"Rugg, Miss. Emily",female,21.00,0,0,C.A. 31026,10.5000,NaN,S
482,483,0,3,"Rouse, Mr. Richard Henry",male,50.00,0,0,A/5 3594,8.0500,NaN,S
513,514,1,1,"Rothschild, Mrs. Martin (Elizabeth L. Barrett)",female,54.00,1,0,PC 17603,59.4000,NaN,C
759,760,1,1,"Rothes, the Countess. of (Lucy Noel Martha Dye...",female,33.00,0,0,110152,86.5000,B77,S
583,584,0,1,"Ross, Mr. John Hugo",male,36.00,0,0,13049,40.1250,A10,C
254,255,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41.00,0,2,370129,20.2125,NaN,S
424,425,0,3,"Rosblom, Mr. Viktor Richard",male,18.00,1,1,370129,20.2125,NaN,S
185,186,0,1,"Rood, Mr. Hugh Roscoe",male,NaN,0,0,113767,50.0000,A32,S
667,668,0,3,"Rommetvedt, Mr. Knud Paust",male,NaN,0,0,312993,7.7750,NaN,S
187,188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45.00,0,0,111428,26.5500,NaN,S
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.00,0,0,PC 17590,50.4958,A24,S
132,133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.00,1,0,A/5. 3337,14.5000,NaN,S
779,780,1,1,"Robert, Mrs. Edward Scott (Elisabeth Walton Mc...",female,43.00,0,1,24160,211.3375,B3,S
557,558,0,1,"Robbins, Mr. Victor",male,NaN,0,0,PC 17757,227.5250,NaN,C
538,539,0,3,"Risien, Mr. Samuel Beard",male,NaN,0,0,364498,14.5000,NaN,S
590,591,0,3,"Rintamaki, Mr. Matti",male,35.00,0,0,STON/O 2. 3101273,7.1250,NaN,S

#### .replace()
substitui elementos dentro do df.  É um dos métodos que aceita o parâmetro `inplace`.

In [ ]:
# para apenas uma troca
df.replace('male', 'H').replace('female', 'M')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",H,22.00,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",M,38.00,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",M,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",M,35.00,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",H,35.00,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",H,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",H,54.00,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",H,2.00,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",M,27.00,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",M,14.00,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",M,4.00,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",M,58.00,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",H,20.00,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",H,39.00,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",M,14.00,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",M,55.00,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",H,2.00,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",H,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",M,31.00,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",M,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",H,35.00,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",H,34.00,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",M,15.00,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",H,28.00,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",M,8.00,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",M,38.00,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",H,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",H,19.00,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",M,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",H,NaN,0,0,349216,7.8958,NaN,S
30,31,0,1,"Uruchurtu, Don. Manuel E",H,40.00,0,0,PC 17601,27.7208,NaN,C
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",M,NaN,1,0,PC 17569,146.5208,B78,C
32,33,1,3,"Glynn, Miss. Mary Agatha",M,NaN,0,0,335677,7.7500,NaN,Q
33,34,0,2,"Wheadon, Mr. Edward H",H,66.00,0,0,C.A. 24579,10.5000,NaN,S
34,35,0,1,"Meyer, Mr. Edgar Joseph",H,28.00,1,0,PC 17604,82.1708,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",H,42.00,1,0,113789,52.0000,NaN,S
36,37,1,3,"Mamee, Mr. Hanna",H,NaN,0,0,2677,7.2292,NaN,C
37,38,0,3,"Cann, Mr. Ernest Charles",H,21.00,0,0,A./5. 2152,8.0500,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",M,18.00,2,0,345764,18.0000,NaN,S
39,40,1,3,"Nicola-Yarred, Miss. Jamila",M,14.00,1,0,2651,11.2417,NaN,C
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",M,40.00,1,0,7546,9.4750,NaN,S
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",M,27.00,1,0,11668,21.0000,NaN,S
42,43,0,3,"Kraeff, Mr. Theodor",H,NaN,0,0,349253,7.8958,NaN,C
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",M,3.00,1,2,SC/Paris 2123,41.5792,NaN,C
44,45,1,3,"Devaney, Miss. Margaret Delia",M,19.00,0,0,330958,7.8792,NaN,Q
45,46,0,3,"Rogers, Mr. William John",H,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
46,47,0,3,"Lennon, Mr. Denis",H,NaN,1,0,370371,15.5000,NaN,Q
47,48,1,3,"O'Driscoll, Miss. Bridget",M,NaN,0,0,14311,7.7500,NaN,Q
48,49,0,3,"Samaan, Mr. Youssef",H,NaN,2,0,2662,21.6792,NaN,C
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",M,18.00,1,0,349237,17.8000,NaN,S
50,51,0,3,"Panula, Master. Juha Niilo",H,7.00,4,1,3101295,39.6875,NaN,S
51,52,0,3,"Nosworthy, Mr. Richard Cater",H,21.00,0,0,A/4. 39886,7.8000,NaN,S
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",M,49.00,1,0,PC 17572,76.7292,D33,C
53,54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",M,29.00,1,0,2926,26.0000,NaN,S
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",H,65.00,0,1,113509,61.9792,B30,C
55,56,1,1,"Woolner, Mr. Hugh",H,NaN,0,0,19947,35.5000,C52,S
56,57,1,2,"Rugg, Miss. Emily",M,21.00,0,0,C.A. 31026,10.5000,NaN,S
57,58,0,3,"Novel, Mr. Mansouer",H,28.50,0,0,2697,7.2292,NaN,C
58,59,1,2,"West, Miss. Constance Mirium",M,5.00,1,2,C.A. 34651,27.7500,NaN,S
59,60,0,3,"Goodwin, Master. William Frederick",H,11.00,5,2,CA 2144,46.9000,NaN,S
60,61,0,3,"Sirayanian, Mr. Orsen",H,22.00,0,0,2669,7.2292,NaN,C
61,62,1,1,"Icard, Miss. Amelie",M,38.00,0,0,113572,80.0000,B28,NaN
62,63,0,1,"Harris, Mr. Henry Birkhardt",H,45.00,1,0,36973,83.4750,C83,S
63,64,0,3,"Skoog, Master. Harald",H,4.00,3,2,347088,27.9000,NaN,S
64,65,0,1,"Stewart, Mr. Albert A",H,NaN,0,0,PC 17605,27.7208,NaN,C
65,66,1,3,"Moubarek, Master. Gerios",H,NaN,1,1,2661,15.2458,NaN,C
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",M,29.00,0,0,C.A. 29395,10.5000,F33,S
67,68,0,3,"Crease, Mr. Ernest James",H,19.00,0,0,S.P. 3464,8.1583,NaN,S
68,69,1,3,"Andersson, Miss. Erna Alexandra",M,17.00,4,2,3101281,7.9250,NaN,S
69,70,0,3,"Kink, Mr. Vincenz",H,26.00,2,0,315151,8.6625,NaN,S
70,71,0,2,"Jenkin, Mr. Stephen Curnow",H,32.00,0,0,C.A. 33111,10.5000,NaN,S
71,72,0,3,"Goodwin, Miss. Lillian Amy",M,16.00,5,2,CA 2144,46.9000,NaN,S
72,73,0,2,"Hood, Mr. Ambrose Jr",H,21.00,0,0,S.O.C. 14879,73.5000,NaN,S
73,74,0,3,"Chronopoulos, Mr. Apostolos",H,26.00,1,0,2680,14.4542,NaN,C
74,75,1,3,"Bing, Mr. Lee",H,32.00,0,0,1601,56.4958,NaN,S
75,76,0,3,"Moen, Mr. Sigurd Hansen",H,25.00,0,0,348123,7.6500,F G73,S
76,77,0,3,"Staneff, Mr. Ivan",H,NaN,0,0,349208,7.8958,NaN,S
77,78,0,3,"Moutal, Mr. Rahamin Haim",H,NaN,0,0,374746,8.0500,NaN,S
78,79,1,2,"Caldwell, Master. Alden Gates",H,0.83,0,2,248738,29.0000,NaN,S
79,80,1,3,"Dowdell, Miss. Elizabeth",M,30.00,0,0,364516,12.4750,NaN,S
80,81,0,3,"Waelens, Mr. Achille",H,22.00,0,0,345767,9.0000,NaN,S
81,82,1,3,"Sheerlinck, Mr. Jan Baptist",H,29.00,0,0,345779,9.5000,NaN,S
82,83,1,3,"McDermott, Miss. Brigdet Delia",M,NaN,0,0,330932,7.7875,NaN,Q
83,84,0,1,"Carrau, Mr. Francisco M",H,28.00,0,0,113059,47.1000,NaN,S
84,85,1,2,"Ilett, Miss. Bertha",M,17.00,0,0,SO/C 14885,10.5000,NaN,S
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",M,33.00,3,0,3101278,15.8500,NaN,S
86,87,0,3,"Ford, Mr. William Neal",H,16.00,1,3,W./C. 6608,34.3750,NaN,S
87,88,0,3,"Slocovski, Mr. Selman Francis",H,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S
88,89,1,1,"Fortune, Miss. Mabel Helen",M,23.00,3,2,19950,263.0000,C23 C25 C27,S
89,90,0,3,"Celotti, Mr. Francesco",H,24.00,0,0,343275,8.0500,NaN,S
90,91,0,3,"Christmann, Mr. Emil",H,29.00,0,0,343276,8.0500,NaN,S
91,92,0,3,"Andreasson, Mr. Paul Edvin",H,20.00,0,0,347466,7.8542,NaN,S
92,93,0,1,"Chaffee, Mr. Herbert Fuller",H,46.00,1,0,W.E.P. 5734,61.1750,E31,S
93,94,0,3,"Dean, Mr. Bertram Frank",H,26.00,1,2,C.A. 2315,20.5750,NaN,S
94,95,0,3,"Coxon, Mr. Daniel",H,59.00,0,0,364500,7.2500,NaN,S
95,96,0,3,"Shorney, Mr. Charles Joseph",H,NaN,0,0,374910,8.0500,NaN,S
96,97,0,1,"Goldschmidt, Mr. George B",H,71.00,0,0,PC 17754,34.6542,A5,C
97,98,1,1,"Greenfield, Mr. William Bertram",H,23.00,0,1,PC 17759,63.3583,D10 D12,C
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",M,34.00,0,1,231919,23.0000,NaN,S
99,100,0,2,"Kantor, Mr. Sinai",H,34.00,1,0,244367,26.0000,NaN,S
100,101,0,3,"Petranec, Miss. Matilda",M,28.00,0,0,349245,7.8958,NaN,S
101,102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",H,NaN,0,0,349215,7.8958,NaN,S
102,103,0,1,"White, Mr. Richard Frasar",H,21.00,0,1,35281,77.2875,D26,S
103,104,0,3,"Johansson, Mr. Gustaf Joel",H,33.00,0,0,7540,8.6542,NaN,S
104,105,0,3,"Gustafsson, Mr. Anders Vilhelm",H,37.00,2,0,3101276,7.9250,NaN,S
105,106,0,3,"Mionoff, Mr. Stoytcho",H,28.00,0,0,349207,7.8958,NaN,S
106,107,1,3,"Salkjelsvik, Miss. Anna Kristine",M,21.00,0,0,343120,7.6500,NaN,S
107,108,1,3,"Moss, Mr. Albert Johan",H,NaN,0,0,312991,7.7750,NaN,S
108,109,0,3,"Rekic, Mr. Tido",H,38.00,0,0,349249,7.8958,NaN,S
109,110,1,3,"Moran, Miss. Bertha",M,NaN,1,0,371110,24.1500,NaN,Q
110,111,0,1,"Porter, Mr. Walter Chamberlain",H,47.00,0,0,110465,52.0000,C110,S
111,112,0,3,"Zabour, Miss. Hileni",M,14.50,1,0,2665,14.4542,NaN,C
112,113,0,3,"Barton, Mr. David John",H,22.00,0,0,324669,8.0500,NaN,S
113,114,0,3,"Jussila, Miss. Katriina",M,20.00,1,0,4136,9.8250,NaN,S
114,115,0,3,"Attalah, Miss. Malake",M,17.00,0,0,2627,14.4583,NaN,C
115,116,0,3,"Pekoniemi, Mr. Edvard",H,21.00,0,0,STON/O 2. 3101294,7.9250,NaN,S
116,117,0,3,"Connors, Mr. Patrick",H,70.50,0,0,370369,7.7500,NaN,Q
117,118,0,2,"Turpin, Mr. William John Robert",H,29.00,1,0,11668,21.0000,NaN,S
118,119,0,1,"Baxter, Mr. Quigg Edmond",H,24.00,0,1,PC 17558,247.5208,B58 B60,C
119,120,0,3,"Andersson, Miss. Ellis Anna Maria",M,2.00,4,2,347082,31.2750,NaN,S
120,121,0,2,"Hickman, Mr. Stanley George",H,21.00,2,0,S.O.C. 14879,73.5000,NaN,S
121,122,0,3,"Moore, Mr. Leonard Charles",H,NaN,0,0,A4. 54510,8.0500,NaN,S
122,123,0,2,"Nasser, Mr. Nicholas",H,32.50,1,0,237736,30.0708,NaN,C
123,124,1,2,"Webber, Miss. Susan",M,32.50,0,0,27267,13.0000,E101,S
124,125,0,1,"White, Mr. Percival Wayland",H,54.00,0,1,35281,77.2875,D26,S
125,126,1,3,"Nicola-Yarred, Master. Elias",H,12.00,1,0,2651,11.2417,NaN,C
126,127,0,3,"McMahon, Mr. Martin",H,NaN,0,0,370372,7.7500,NaN,Q
127,128,1,3,"Madsen, Mr. Fridtjof Arne",H,24.00,0,0,C 17369,7.1417,NaN,S
128,129,1,3,"Peter, Miss. Anna",M,NaN,1,1,2668,22.3583,F E69,C
129,130,0,3,"Ekstrom, Mr. Johan",H,45.00,0,0,347061,6.9750,NaN,S
130,131,0,3,"Drazenoic, Mr. Jozef",H,33.00,0,0,349241,7.8958,NaN,C
131,132,0,3,"Coelho, Mr. Domingos Fernandeo",H,20.00,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S
132,133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",M,47.00,1,0,A/5. 3337,14.5000,NaN,S
133,134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",M,29.00,1,0,228414,26.0000,NaN,S
134,135,0,2,"Sobey, Mr. Samuel James Hayden",H,25.00,0,0,C.A. 29178,13.0000,NaN,S
135,136,0,2,"Richard, Mr. Emile",H,23.00,0,0,SC/PARIS 2133,15.0458,NaN,C
136,137,1,1,"Newsom, Miss. Helen Monypeny",M,19.00,0,2,11752,26.2833,D47,S
137,138,0,1,"Futrelle, Mr. Jacques Heath",H,37.00,1,0,113803,53.1000,C123,S
138,139,0,3,"Osen, Mr. Olaf Elon",H,16.00,0,0,7534,9.2167,NaN,S
139,140,0,1,"Giglio, Mr. Victor",H,24.00,0,0,PC 17593,79.2000,B86,C
140,141,0,3,"Boulos, Mrs. Joseph (Sultana)",M,NaN,0,2,2678,15.2458,NaN,C
141,142,1,3,"Nysten, Miss. Anna Sofia",M,22.00,0,0,347081,7.7500,NaN,S
142,143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",M,24.00,1,0,STON/O2. 3101279,15.8500,NaN,S
143,144,0,3,"Burke, Mr. Jeremiah",H,19.00,0,0,365222,6.7500,NaN,Q
144,145,0,2,"Andrew, Mr. Edgardo Samuel",H,18.00,0,0,231945,11.5000,NaN,S
145,146,0,2,"Nicholls, Mr. Joseph Charles",H,19.00,1,1,C.A. 33112,36.7500,NaN,S
146,147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",H,27.00,0,0,350043,7.7958,NaN,S
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",M,9.00,2,2,W./C. 6608,34.3750,NaN,S
148,149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",H,36.50,0,2,230080,26.0000,F2,S
149,150,0,2,"Byles, Rev. Thomas Roussel Davids",H,42.00,0,0,244310,13.0000,NaN,S
150,151,0,2,"Bateman, Rev. Robert James",H,51.00,0,0,S.O.P. 1166,12.5250,NaN,S
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",M,22.00,1,0,113776,66.6000,C2,S
152,153,0,3,"Meo, Mr. Alfonzo",H,55.50,0,0,A.5. 11206,8.0500,NaN,S
153,154,0,3,"van Billiard, Mr. Austin Blyler",H,40.50,0,2,A/5. 851,14.5000,NaN,S
154,155,0,3,"Olsen, Mr. Ole Martin",H,NaN,0,0,Fa 265302,7.3125,NaN,S
155,156,0,1,"Williams, Mr. Charles Duane",H,51.00,0,1,PC 17597,61.3792,NaN,C
156,157,1,3,"Gilnagh, Miss. Katherine ""Katie""",M,16.00,0,0,35851,7.7333,NaN,Q
157,158,0,3,"Corn, Mr. Harry",H,30.00,0,0,SOTON/OQ 392090,8.0500,NaN,S
158,159,0,3,"Smiljanic, Mr. Mile",H,NaN,0,0,315037,8.6625,NaN,S
159,160,0,3,"Sage, Master. Thomas Henry",H,NaN,8,2,CA. 2343,69.5500,NaN,S
160,161,0,3,"Cribb, Mr. John Hatfield",H,44.00,0,1,371362,16.1000,NaN,S
161,162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",M,40.00,0,0,C.A. 33595,15.7500,NaN,S
162,163,0,3,"Bengtsson, Mr. John Viktor",H,26.00,0,0,347068,7.7750,NaN,S
163,164,0,3,"Calic, Mr. Jovo",H,17.00,0,0,315093,8.6625,NaN,S
164,165,0,3,"Panula, Master. Eino Viljami",H,1.00,4,1,3101295,39.6875,NaN,S
165,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",H,9.00,0,2,363291,20.5250,NaN,S
166,167,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",M,NaN,0,1,113505,55.0000,E33,S
167,168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",M,45.00,1,4,347088,27.9000,NaN,S
168,169,0,1,"Baumann, Mr. John D",H,NaN,0,0,PC 17318,25.9250,NaN,S
169,170,0,3,"Ling, Mr. Lee",H,28.00,0,0,1601,56.4958,NaN,S
170,171,0,1,"Van der hoef, Mr. Wyckoff",H,61.00,0,0,111240,33.5000,B19,S
171,172,0,3,"Rice, Master. Arthur",H,4.00,4,1,382652,29.1250,NaN,Q
172,173,1,3,"Johnson, Miss. Eleanor Ileen",M,1.00,1,1,347742,11.1333,NaN,S
173,174,0,3,"Sivola, Mr. Antti Wilhelm",H,21.00,0,0,STON/O 2. 3101280,7.9250,NaN,S
174,175,0,1,"Smith, Mr. James Clinch",H,56.00,0,0,17764,30.6958,A7,C
175,176,0,3,"Klasen, Mr. Klas Albin",H,18.00,1,1,350404,7.8542,NaN,S
176,177,0,3,"Lefebre, Master. Henry Forbes",H,NaN,3,1,4133,25.4667,NaN,S
177,178,0,1,"Isham, Miss. Ann Elizabeth",M,50.00,0,0,PC 17595,28.7125,C49,C
178,179,0,2,"Hale, Mr. Reginald",H,30.00,0,0,250653,13.0000,NaN,S
179,180,0,3,"Leonard, Mr. Lionel",H,36.00,0,0,LINE,0.0000,NaN,S
180,181,0,3,"Sage, Miss. Constance Gladys",M,NaN,8,2,CA. 2343,69.5500,NaN,S
181,182,0,2,"Pernot, Mr. Rene",H,NaN,0,0,SC/PARIS 2131,15.0500,NaN,C
182,183,0,3,"Asplund, Master. Clarence Gustaf Hugo",H,9.00,4,2,347077,31.3875,NaN,S
183,184,1,2,"Becker, Master. Richard F",H,1.00,2,1,230136,39.0000,F4,S
184,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",M,4.00,0,2,315153,22.0250,NaN,S
185,186,0,1,"Rood, Mr. Hugh Roscoe",H,NaN,0,0,113767,50.0000,A32,S
186,187,1,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",M,NaN,1,0,370365,15.5000,NaN,Q
187,188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",H,45.00,0,0,111428,26.5500,NaN,S
188,189,0,3,"Bourke, Mr. John",H,40.00,1,1,364849,15.5000,NaN,Q
189,190,0,3,"Turcin, Mr. Stjepan",H,36.00,0,0,349247,7.8958,NaN,S
190,191,1,2,"Pinsky, Mrs. (Rosa)",M,32.00,0,0,234604,13.0000,NaN,S
191,192,0,2,"Carbines, Mr. William",H,19.00,0,0,28424,13.0000,NaN,S
192,193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",M,19.00,1,0,350046,7.8542,NaN,S
193,194,1,2,"Navratil, Master. Michel M",H,3.00,1,1,230080,26.0000,F2,S
194,195,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",M,44.00,0,0,PC 17610,27.7208,B4,C
195,196,1,1,"Lurette, Miss. Elise",M,58.00,0,0,PC 17569,146.5208,B80,C
196,197,0,3,"Mernagh, Mr. Robert",H,NaN,0,0,368703,7.7500,NaN,Q
197,198,0,3,"Olsen, Mr. Karl Siegwart Andreas",H,42.00,0,1,4579,8.4042,NaN,S
198,199,1,3,"Madigan, Miss. Margaret ""Maggie""",M,NaN,0,0,370370,7.7500,NaN,Q
199,200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",M,24.00,0,0,248747,13.0000,NaN,S
200,201,0,3,"Vande Walle, Mr. Nestor Cyriel",H,28.00,0,0,345770,9.5000,NaN,S
201,202,0,3,"Sage, Mr. Frederick",H,NaN,8,2,CA. 2343,69.5500,NaN,S
202,203,0,3,"Johanson, Mr. Jakob Alfred",H,34.00,0,0,3101264,6.4958,NaN,S
203,204,0,3,"Youseff, Mr. Gerious",H,45.50,0,0,2628,7.2250,NaN,C
204,205,1,3,"Cohen, Mr. Gurshon ""Gus""",H,18.00,0,0,A/5 3540,8.0500,NaN,S
205,206,0,3,"Strom, Miss. Telma Matilda",M,2.00,0,1,347054,10.4625,G6,S
206,207,0,3,"Backstrom, Mr. Karl Alfred",H,32.00,1,0,3101278,15.8500,NaN,S
207,208,1,3,"Albimona, Mr. Nassef Cassem",H,26.00,0,0,2699,18.7875,NaN,C
208,209,1,3,"Carr, Miss. Helen ""Ellen""",M,16.00,0,0,367231,7.7500,NaN,Q
209,210,1,1,"Blank, Mr. Henry",H,40.00,0,0,112277,31.0000,A31,C
210,211,0,3,"Ali, Mr. Ahmed",H,24.00,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S
211,212,1,2,"Cameron, Miss. Clear Annie",M,35.00,0,0,F.C.C. 13528,21.0000,NaN,S
212,213,0,3,"Perkin, Mr. John Henry",H,22.00,0,0,A/5 21174,7.2500,NaN,S
213,214,0,2,"Givard, Mr. Hans Kristensen",H,30.00,0,0,250646,13.0000,NaN,S
214,215,0,3,"Kiernan, Mr. Philip",H,NaN,1,0,367229,7.7500,NaN,Q
215,216,1,1,"Newell, Miss. Madeleine",M,31.00,1,0,35273,113.2750,D36,C
216,217,1,3,"Honkanen, Miss. Eliina",M,27.00,0,0,STON/O2. 3101283,7.9250,NaN,S
217,218,0,2,"Jacobsohn, Mr. Sidney Samuel",H,42.00,1,0,243847,27.0000,NaN,S
218,219,1,1,"Bazzani, Miss. Albina",M,32.00,0,0,11813,76.2917,D15,C
219,220,0,2,"Harris, Mr. Walter",H,30.00,0,0,W/C 14208,10.5000,NaN,S
220,221,1,3,"Sunderland, Mr. Victor Francis",H,16.00,0,0,SOTON/OQ 392089,8.0500,NaN,S
221,222,0,2,"Bracken, Mr. James H",H,27.00,0,0,220367,13.0000,NaN,S
222,223,0,3,"Green, Mr. George Henry",H,51.00,0,0,21440,8.0500,NaN,S
223,224,0,3,"Nenkoff, Mr. Christo",H,NaN,0,0,349234,7.8958,NaN,S
224,225,1,1,"Hoyt, Mr. Frederick Maxfield",H,38.00,1,0,19943,90.0000,C93,S
225,226,0,3,"Berglund, Mr. Karl Ivar Sven",H,22.00,0,0,PP 4348,9.3500,NaN,S
226,227,1,2,"Mellors, Mr. William John",H,19.00,0,0,SW/PP 751,10.5000,NaN,S
227,228,0,3,"Lovell, Mr. John Hall (""Henry"")",H,20.50,0,0,A/5 21173,7.2500,NaN,S
228,229,0,2,"Fahlstrom, Mr. Arne Jonas",H,18.00,0,0,236171,13.0000,NaN,S
229,230,0,3,"Lefebre, Miss. Mathilde",M,NaN,3,1,4133,25.4667,NaN,S
230,231,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",M,35.00,1,0,36973,83.4750,C83,S
231,232,0,3,"Larsson, Mr. Bengt Edvin",H,29.00,0,0,347067,7.7750,NaN,S
232,233,0,2,"Sjostedt, Mr. Ernst Adolf",H,59.00,0,0,237442,13.5000,NaN,S
233,234,1,3,"Asplund, Miss. Lillian Gertrud",M,5.00,4,2,347077,31.3875,NaN,S
234,235,0,2,"Leyson, Mr. Robert William Norman",H,24.00,0,0,C.A. 29566,10.5000,NaN,S
235,236,0,3,"Harknett, Miss. Alice Phoebe",M,NaN,0,0,W./C. 6609,7.5500,NaN,S
236,237,0,2,"Hold, Mr. Stephen",H,44.00,1,0,26707,26.0000,NaN,S
237,238,1,2,"Collyer, Miss. Marjorie ""Lottie""",M,8.00,0,2,C.A. 31921,26.2500,NaN,S
238,239,0,2,"Pengelly, Mr. Frederick William",H,19.00,0,0,28665,10.5000,NaN,S
239,240,0,2,"Hunt, Mr. George Henry",H,33.00,0,0,SCO/W 1585,12.2750,NaN,S
240,241,0,3,"Zabour, Miss. Thamine",M,NaN,1,0,2665,14.4542,NaN,C
241,242,1,3,"Murphy, Miss. Katherine ""Kate""",M,NaN,1,0,367230,15.5000,NaN,Q
242,243,0,2,"Coleridge, Mr. Reginald Charles",H,29.00,0,0,W./C. 14263,10.5000,NaN,S
243,244,0,3,"Maenpaa, Mr. Matti Alexanteri",H,22.00,0,0,STON/O 2. 3101275,7.1250,NaN,S
244,245,0,3,"Attalah, Mr. Sleiman",H,30.00,0,0,2694,7.2250,NaN,C
245,246,0,1,"Minahan, Dr. William Edward",H,44.00,2,0,19928,90.0000,C78,Q
246,247,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",M,25.00,0,0,347071,7.7750,NaN,S
247,248,1,2,"Hamalainen, Mrs. William (Anna)",M,24.00,0,2,250649,14.5000,NaN,S
248,249,1,1,"Beckwith, Mr. Richard Leonard",H,37.00,1,1,11751,52.5542,D35,S
249,250,0,2,"Carter, Rev. Ernest Courtenay",H,54.00,1,0,244252,26.0000,NaN,S
250,251,0,3,"Reed, Mr. James George",H,NaN,0,0,362316,7.2500,NaN,S
251,252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",M,29.00,1,1,347054,10.4625,G6,S
252,253,0,1,"Stead, Mr. William Thomas",H,62.00,0,0,113514,26.5500,C87,S
253,254,0,3,"Lobb, Mr. William Arthur",H,30.00,1,0,A/5. 3336,16.1000,NaN,S
254,255,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",M,41.00,0,2,370129,20.2125,NaN,S
255,256,1,3,"Touma, Mrs. Darwis (Hanne Youssef Razi)",M,29.00,0,2,2650,15.2458,NaN,C
256,257,1,1,"Thorne, Mrs. Gertrude Maybelle",M,NaN,0,0,PC 17585,79.2000,NaN,C
257,258,1,1,"Cherry, Miss. Gladys",M,30.00,0,0,110152,86.5000,B77,S
258,259,1,1,"Ward, Miss. Anna",M,35.00,0,0,PC 17755,512.3292,NaN,C
259,260,1,2,"Parrish, Mrs. (Lutie Davis)",M,50.00,0,1,230433,26.0000,NaN,S
260,261,0,3,"Smith, Mr. Thomas",H,NaN,0,0,384461,7.7500,NaN,Q
261,262,1,3,"Asplund, Master. Edvin Rojj Felix",H,3.00,4,2,347077,31.3875,NaN,S
262,263,0,1,"Taussig, Mr. Emil",H,52.00,1,1,110413,79.6500,E67,S
263,264,0,1,"Harrison, Mr. William",H,40.00,0,0,112059,0.0000,B94,S
264,265,0,3,"Henry, Miss. Delia",M,NaN,0,0,382649,7.7500,NaN,Q
265,266,0,2,"Reeves, Mr. David",H,36.00,0,0,C.A. 17248,10.5000,NaN,S
266,267,0,3,"Panula, Mr. Ernesti Arvid",H,16.00,4,1,3101295,39.6875,NaN,S
267,268,1,3,"Persson, Mr. Ernst Ulrik",H,25.00,1,0,347083,7.7750,NaN,S

In [ ]:
# para mais de uma troca
df['Sex'].replace(['male', 'female'], ['H', 'M'])

0      H
1      M
2      M
3      M
4      H
5      H
6      H
7      H
8      M
9      M
10     M
11     M
12     H
13     H
14     M
15     M
16     H
17     H
18     M
19     M
20     H
21     H
22     M
23     H
24     M
25     M
26     H
27     H
28     M
29     H
30     H
31     M
32     M
33     H
34     H
35     H
36     H
37     H
38     M
39     M
40     M
41     M
42     H
43     M
44     M
45     H
46     H
47     M
48     H
49     M
50     H
51     H
52     M
53     M
54     H
55     H
56     M
57     H
58     M
59     H
60     H
61     M
62     H
63     H
64     H
65     H
66     M
67     H
68     M
69     H
70     H
71     M
72     H
73     H
74     H
75     H
76     H
77     H
78     H
79     M
80     H
81     H
82     M
83     H
84     M
85     M
86     H
87     H
88     M
89     H
90     H
91     H
92     H
93     H
94     H
95     H
96     H
97     H
98     M
99     H
100    M
101    H
102    H
103    H
104    H
105    H
106    M
107    H
108    H
109    M
110    H
111    M
112    H
113    M
114    M
115    H
116    H
117    H
118    H
119    M
120    H
121    H
122    H
123    M
124    H
125    H
126    H
127    H
128    M
129    H
130    H
131    H
132    M
133    M
134    H
135    H
136    M
137    H
138    H
139    H
140    M
141    M
142    M
143    H
144    H
145    H
146    H
147    M
148    H
149    H
150    H
151    M
152    H
153    H
154    H
155    H
156    M
157    H
158    H
159    H
160    H
161    M
162    H
163    H
164    H
165    H
166    M
167    M
168    H
169    H
170    H
171    H
172    M
173    H
174    H
175    H
176    H
177    M
178    H
179    H
180    M
181    H
182    H
183    H
184    M
185    H
186    M
187    H
188    H
189    H
190    M
191    H
192    M
193    H
194    M
195    M
196    H
197    H
198    M
199    M
200    H
201    H
202    H
203    H
204    H
205    M
206    H
207    H
208    M
209    H
210    H
211    M
212    H
213    H
214    H
215    M
216    M
217    H
218    M
219    H
220    H
221    H
222    H
223    H
224    H
225    H
226    H
227    H
228    H
229    M
230    M
231    H
232    H
233    M
234    H
235    M
236    H
237    M
238    H
239    H
240    M
241    M
242    H
243    H
244    H
245    H
246    M
247    M
248    H
249    H
250    H
251    M
252    H
253    H
254    M
255    M
256    M
257    M
258    M
259    M
260    H
261    H
262    H
263    H
264    M
265    H
266    H
267    H
268    M
269    M
270    H
271    H
272    M
273    H
274    M
275    M
276    M
277    H
278    H
279    M
280    H
281    H
282    H
283    H
284    H
285    H
286    H
287    H
288    H
289    M
290    M
291    M
292    H
293    M
294    H
295    H
296    H
297    M
298    H
299    M
300    M
301    H
302    H
303    M
304    H
305    H
306    M
307    M
308    H
309    M
310    M
311    M
312    M
313    H
314    H
315    M
316    M
317    H
318    M
319    M
320    H
321    H
322    M
323    M
324    H
325    M
326    H
327    M
328    M
329    M
330    M
331    H
332    H
333    H
334    M
335    H
336    H
337    M
338    H
339    H
340    H
341    M
342    H
343    H
344    H
345    M
346    M
347    M
348    H
349    H
350    H
351    H
352    H
353    H
354    H
355    H
356    M
357    M
358    M
359    M
360    H
361    H
362    M
363    H
364    H
365    H
366    M
367    M
368    M
369    M
370    H
371    H
372    H
373    H
374    M
375    M
376    M
377    H
378    H
379    H
380    M
381    M
382    H
383    M
384    H
385    H
386    H
387    M
388    H
389    M
390    H
391    H
392    H
393    M
394    M
395    H
396    M
397    H
398    H
399    M
400    H
401    H
402    M
403    H
404    M
405    H
406    H
407    H
408    H
409    M
410    H
411    H
412    M
413    H
414    H
415    M
416    M
417    M
418    H
419    M
420    H
421    H
422    H
423    M
424    H
425    H
426    M
427    M
428    H
429    H
430    H
431    M
432    M
433    H
434    H
435    M
436    M
437    M
438    H
439    H
440    M
441    H
442    H
443    M
444    H
445    H
446    M
447    H
448    M
449    H
450    H
451    H
452    H
453    H
454    H
455    H
456    H
457    M
458    M
459    H
460    H
461    H
462    H
463    H
464    H
465    H
466    H
467    H
468    H
469    M
470    H
471    H
472    M
473    M
474    M
475    H
476    H
477    H
478    H
479    M
480    H
481    H
482    H
483    M
484    H
485    M
486    M
487    H
488    H
489    H
490    H
491    H
492    H
493    H
494    H
495    H
496    M
497    H
498    M
499    H
500    H
501    M
502    M
503    M
504    M
505    H
506    M
507    H
508    H
509    H
510    H
511    H
512    H
513    M
514    H
515    H
516    M
517    H
518    M
519    H
520    M
521    H
522    H
523    M
524    H
525    H
526    M
527    H
528    H
529    H
530    M
531    H
532    H
533    M
534    M
535    M
536    H
537    M
538    H
539    M
540    M
541    M
542    M
543    H
544    H
545    H
546    M
547    H
548    H
549    H
550    H
551    H
552    H
553    H
554    M
555    H
556    M
557    H
558    M
559    M
560    H
561    H
562    H
563    H
564    M
565    H
566    H
567    M
568    H
569    H
570    H
571    M
572    H
573    M
574    H
575    H
576    M
577    M
578    M
579    H
580    M
581    M
582    H
583    H
584    H
585    M
586    H
587    H
588    H
589    H
590    H
591    M
592    H
593    M
594    H
595    H
596    M
597    H
598    H
599    H
600    M
601    H
602    H
603    H
604    H
605    H
606    H
607    H
608    M
609    M
610    M
611    H
612    M
613    H
614    H
615    M
616    H
617    M
618    M
619    H
620    H
621    H
622    H
623    H
624    H
625    H
626    H
627    M
628    H
629    H
630    H
631    H
632    H
633    H
634    M
635    M
636    H
637    H
638    M
639    H
640    H
641    M
642    M
643    H
644    M
645    H
646    H
647    H
648    H
649    M
650    H
651    M
652    H
653    M
654    M
655    H
656    H
657    M
658    H
659    H
660    H
661    H
662    H
663    H
664    H
665    H
666    H
667    H
668    H
669    M
670    M
671    H
672    H
673    H
674    H
675    H
676    H
677    M
678    M
679    H
680    M
681    H
682    H
683    H
684    H
685    H
686    H
687    H
688    H
689    M
690    H
691    M
692    H
693    H
694    H
695    H
696    H
697    M
698    H
699    H
700    M
701    H
702    M
703    H
704    H
705    H
706    M
707    H
708    M
709    H
710    M
711    H
712    H
713    H
714    H
715    H
716    M
717    M
718    H
719    H
720    M
721    H
722    H
723    H
724    H
725    H
726    M
727    M
728    H
729    M
730    M
731    H
732    H
733    H
734    H
735    H
736    M
737    H
738    H
739    H
740    H
741    H
742    M
743    H
744    H
745    H
746    H
747    M
748    H
749    H
750    M
751    H
752    H
753    H
754    M
755    H
756    H
757    H
758    H
759    M
760    H
761    H
762    H
763    M
764    H
765    M
766    H
767    M
768    H
769    H
770    H
771    H
772    M
773    H
774    M
775    H
776    H
777    M
778    H
779    M
780    M
781    M
782    H
783    H
784    H
785    H
786    M
787    H
788    H
789    H
790    H
791    H
792    M
793    H
794    H
795    H
796    M
797    M
798    H
799    M
800    H
801    M
802    H
803    H
804    H
805    H
806    H
807    M
808    H
809    M
810    H
811    H
812    H
813    M
814    H
815    H
816    M
817    H
818    H
819    H
820    M
821    H
822    H
823    M
824    H
825    H
826    H
827    H
828    H
829    M
830    M
831    H
832    H
833    H
834    H
835    M
836    H
837    H
838    H
839    H
840    H
841    H
842    M
843    H
844    H
845    H
846    H
847    H
848    H
849    M
850    H
851    H
852    M
853    M
854    M
855    M
856    M
857    H
858    M
859    H
860    H
861    H
862    M
863    M
864    H
865    M
866    M
867    H
868    H
869    H
870    H
871    M
872    H
873    H
874    M
875    M
876    H
877    H
878    H
879    M
880    M
881    H
882    M
883    H
884    H
885    M
886    H
887    M
888    M
889    H
890    H
Name: Sex, dtype: object

#### .duplicated()  e .drop_duplicated()
O `.duplicated()` retorna uma series indicando se determinada linha possui duplicados ou não. Já o `.drop_duplicated()`, elimina as linhas duplicadas. <br>
Parametros do `.drop_duplicated()`: <br>

    * subset
        seleciona colunas para serem utilizdas na comparação de linhas duplicadas
    * keep{‘first’, ‘last’, False}, default ‘first’
        Determina qual duplicado manter
    * inplace - bool, default False
        Se False retorna uma cópia do df com as alterações, es True faz as modificações no próprio df

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [ ]:
# vamos criar um df que possua linhas duplicadas
df_dup = df.copy()

df_dup.loc[891, :] = df_dup.loc[0, :]
                                
df_dup.loc[892, :] = df_dup.loc[1, :]
df_dup.loc[893, :] = df_dup.loc[1, :]

print(df.shape, df_dup.shape)

(891, 12) (894, 12)

In [ ]:
df_dup.duplicated()

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
30     False
31     False
32     False
33     False
34     False
35     False
36     False
37     False
38     False
39     False
40     False
41     False
42     False
43     False
44     False
45     False
46     False
47     False
48     False
49     False
50     False
51     False
52     False
53     False
54     False
55     False
56     False
57     False
58     False
59     False
60     False
61     False
62     False
63     False
64     False
65     False
66     False
67     False
68     False
69     False
70     False
71     False
72     False
73     False
74     False
75     False
76     False
77     False
78     False
79     False
80     False
81     False
82     False
83     False
84     False
85     False
86     False
87     False
88     False
89     False
90     False
91     False
92     False
93     False
94     False
95     False
96     False
97     False
98     False
99     False
100    False
101    False
102    False
103    False
104    False
105    False
106    False
107    False
108    False
109    False
110    False
111    False
112    False
113    False
114    False
115    False
116    False
117    False
118    False
119    False
120    False
121    False
122    False
123    False
124    False
125    False
126    False
127    False
128    False
129    False
130    False
131    False
132    False
133    False
134    False
135    False
136    False
137    False
138    False
139    False
140    False
141    False
142    False
143    False
144    False
145    False
146    False
147    False
148    False
149    False
150    False
151    False
152    False
153    False
154    False
155    False
156    False
157    False
158    False
159    False
160    False
161    False
162    False
163    False
164    False
165    False
166    False
167    False
168    False
169    False
170    False
171    False
172    False
173    False
174    False
175    False
176    False
177    False
178    False
179    False
180    False
181    False
182    False
183    False
184    False
185    False
186    False
187    False
188    False
189    False
190    False
191    False
192    False
193    False
194    False
195    False
196    False
197    False
198    False
199    False
200    False
201    False
202    False
203    False
204    False
205    False
206    False
207    False
208    False
209    False
210    False
211    False
212    False
213    False
214    False
215    False
216    False
217    False
218    False
219    False
220    False
221    False
222    False
223    False
224    False
225    False
226    False
227    False
228    False
229    False
230    False
231    False
232    False
233    False
234    False
235    False
236    False
237    False
238    False
239    False
240    False
241    False
242    False
243    False
244    False
245    False
246    False
247    False
248    False
249    False
250    False
251    False
252    False
253    False
254    False
255    False
256    False
257    False
258    False
259    False
260    False
261    False
262    False
263    False
264    False
265    False
266    False
267    False
268    False
269    False
270    False
271    False
272    False
273    False
274    False
275    False
276    False
277    False
278    False
279    False
280    False
281    False
282    False
283    False
284    False
285    False
286    False
287    False
288    False
289    False
290    False
291    False
292    False
293    False
294    False
295    False
296    False
297    False
298    False
299    False
300    False
301    False
302    False
303    False
304    False
305    False
306    False
307    False
308    False
309    False
310    False
311    False
312    False
313    False
314    False
315    False
316    False
317    False
318    False
319    False
320    False
321    False
322    False
323    False
324    False
325    False
326    False
327    False
328    False
329    False
330    False
331    False
332    False
333    False
334    False
335    False
336    False
337    False
338    False
339    False
340    False
341    False
342    False
343    False
344    False
345    False
346    False
347    False
348    False
349    False
350    False
351    False
352    False
353    False
354    False
355    False
356    False
357    False
358    False
359    False
360    False
361    False
362    False
363    False
364    False
365    False
366    False
367    False
368    False
369    False
370    False
371    False
372    False
373    False
374    False
375    False
376    False
377    False
378    False
379    False
380    False
381    False
382    False
383    False
384    False
385    False
386    False
387    False
388    False
389    False
390    False
391    False
392    False
393    False
394    False
395    False
396    False
397    False
398    False
399    False
400    False
401    False
402    False
403    False
404    False
405    False
406    False
407    False
408    False
409    False
410    False
411    False
412    False
413    False
414    False
415    False
416    False
417    False
418    False
419    False
420    False
421    False
422    False
423    False
424    False
425    False
426    False
427    False
428    False
429    False
430    False
431    False
432    False
433    False
434    False
435    False
436    False
437    False
438    False
439    False
440    False
441    False
442    False
443    False
444    False
445    False
446    False
447    False
448    False
449    False
450    False
451    False
452    False
453    False
454    False
455    False
456    False
457    False
458    False
459    False
460    False
461    False
462    False
463    False
464    False
465    False
466    False
467    False
468    False
469    False
470    False
471    False
472    False
473    False
474    False
475    False
476    False
477    False
478    False
479    False
480    False
481    False
482    False
483    False
484    False
485    False
486    False
487    False
488    False
489    False
490    False
491    False
492    False
493    False
494    False
495    False
496    False
497    False
498    False
499    False
500    False
501    False
502    False
503    False
504    False
505    False
506    False
507    False
508    False
509    False
510    False
511    False
512    False
513    False
514    False
515    False
516    False
517    False
518    False
519    False
520    False
521    False
522    False
523    False
524    False
525    False
526    False
527    False
528    False
529    False
530    False
531    False
532    False
533    False
534    False
535    False
536    False
537    False
538    False
539    False
540    False
541    False
542    False
543    False
544    False
545    False
546    False
547    False
548    False
549    False
550    False
551    False
552    False
553    False
554    False
555    False
556    False
557    False
558    False
559    False
560    False
561    False
562    False
563    False
564    False
565    False
566    False
567    False
568    False
569    False
570    False
571    False
572    False
573    False
574    False
575    False
576    False
577    False
578    False
579    False
580    False
581    False
582    False
583    False
584    False
585    False
586    False
587    False
588    False
589    False
590    False
591    False
592    False
593    False
594    False
595    False
596    False
597    False
598    False
599    False
600    False
601    False
602    False
603    False
604    False
605    False
606    False
607    False
608    False
609    False
610    False
611    False
612    False
613    False
614    False
615    False
616    False
617    False
618    False
619    False
620    False
621    False
622    False
623    False
624    False
625    False
626    False
627    False
628    False
629    False
630    False
631    False
632    False
633    False
634    False
635    False
636    False
637    False
638    False
639    False
640    False
641    False
642    False
643    False
644    False
645    False
646    False
647    False
648    False
649    False
650    False
651    False
652    False
653    False
654    False
655    False
656    False
657    False
658    False
659    False
660    False
661    False
662    False
663    False
664    False
665    False
666    False
667    False
668    False
669    False
670    False
671    False
672    False
673    False
674    False
675    False
676    False
677    False
678    False
679    False
680    False
681    False
682    False
683    False
684    False
685    False
686    False
687    False
688    False
689    False
690    False
691    False
692    False
693    False
694    False
695    False
696    False
697    False
698    False
699    False
700    False
701    False
702    False
703    False
704    False
705    False
706    False
707    False
708    False
709    False
710    False
711    False
712    False
713    False
714    False
715    False
716    False
717    False
718    False
719    False
720    False
721    False
722    False
723    False
724    False
725    False
726    False
727    False
728    False
729    False
730    False
731    False
732    False
733    False
734    False
735    False
736    False
737    False
738    False
739    False
740    False
741    False
742    False
743    False
744    False
745    False
746    False
747    False
748    False
749    False
750    False
751    False
752    False
753    False
754    False
755    False
756    False
757    False
758    False
759    False
760    False
761    False
762    False
763    False
764    False
765    False
766    False
767    False
768    False
769    False
770    False
771    False
772    False
773    False
774    False
775    False
776    False
777    False
778    False
779    False
780    False
781    False
782    False
783    False
784    False
785    False
786    False
787    False
788    False
789    False
790    False
791    False
792    False
793    False
794    False
795    False
796    False
797    False
798    False
799    False
800    False
801    False
802    False
803    False
804    False
805    False
806    False
807    False
808    False
809    False
810    False
811    False
812    False
813    False
814    False
815    False
816    False
817    False
818    False
819    False
820    False
821    False
822    False
823    False
824    False
825    False
826    False
827    False
828    False
829    False
830    False
831    False
832    False
833    False
834    False
835    False
836    False
837    False
838    False
839    False
840    False
841    False
842    False
843    False
844    False
845    False
846    False
847    False
848    False
849    False
850    False
851    False
852    False
853    False
854    False
855    False
856    False
857    False
858    False
859    False
860    False
861    False
862    False
863    False
864    False
865    False
866    False
867    False
868    False
869    False
870    False
871    False
872    False
873    False
874    False
875    False
876    False
877    False
878    False
879    False
880    False
881    False
882    False
883    False
884    False
885    False
886    False
887    False
888    False
889    False
890    False
891     True
892     True
893     True
dtype: bool

In [ ]:
df_dup.duplicated().sum()

3

In [ ]:
df_dup.duplicated()

In [ ]:
df_dup.drop_duplicates()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1.0,0.0,3.0,"Braund, Mr. Owen Harris",male,22.00,1.0,0.0,A/5 21171,7.2500,NaN,S
1,2.0,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,1.0,0.0,PC 17599,71.2833,C85,C
2,3.0,1.0,3.0,"Heikkinen, Miss. Laina",female,26.00,0.0,0.0,STON/O2. 3101282,7.9250,NaN,S
3,4.0,1.0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1.0,0.0,113803,53.1000,C123,S
4,5.0,0.0,3.0,"Allen, Mr. William Henry",male,35.00,0.0,0.0,373450,8.0500,NaN,S
5,6.0,0.0,3.0,"Moran, Mr. James",male,NaN,0.0,0.0,330877,8.4583,NaN,Q
6,7.0,0.0,1.0,"McCarthy, Mr. Timothy J",male,54.00,0.0,0.0,17463,51.8625,E46,S
7,8.0,0.0,3.0,"Palsson, Master. Gosta Leonard",male,2.00,3.0,1.0,349909,21.0750,NaN,S
8,9.0,1.0,3.0,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0.0,2.0,347742,11.1333,NaN,S
9,10.0,1.0,2.0,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1.0,0.0,237736,30.0708,NaN,C
10,11.0,1.0,3.0,"Sandstrom, Miss. Marguerite Rut",female,4.00,1.0,1.0,PP 9549,16.7000,G6,S
11,12.0,1.0,1.0,"Bonnell, Miss. Elizabeth",female,58.00,0.0,0.0,113783,26.5500,C103,S
12,13.0,0.0,3.0,"Saundercock, Mr. William Henry",male,20.00,0.0,0.0,A/5. 2151,8.0500,NaN,S
13,14.0,0.0,3.0,"Andersson, Mr. Anders Johan",male,39.00,1.0,5.0,347082,31.2750,NaN,S
14,15.0,0.0,3.0,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0.0,0.0,350406,7.8542,NaN,S
15,16.0,1.0,2.0,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0.0,0.0,248706,16.0000,NaN,S
16,17.0,0.0,3.0,"Rice, Master. Eugene",male,2.00,4.0,1.0,382652,29.1250,NaN,Q
17,18.0,1.0,2.0,"Williams, Mr. Charles Eugene",male,NaN,0.0,0.0,244373,13.0000,NaN,S
18,19.0,0.0,3.0,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.00,1.0,0.0,345763,18.0000,NaN,S
19,20.0,1.0,3.0,"Masselmani, Mrs. Fatima",female,NaN,0.0,0.0,2649,7.2250,NaN,C
20,21.0,0.0,2.0,"Fynney, Mr. Joseph J",male,35.00,0.0,0.0,239865,26.0000,NaN,S
21,22.0,1.0,2.0,"Beesley, Mr. Lawrence",male,34.00,0.0,0.0,248698,13.0000,D56,S
22,23.0,1.0,3.0,"McGowan, Miss. Anna ""Annie""",female,15.00,0.0,0.0,330923,8.0292,NaN,Q
23,24.0,1.0,1.0,"Sloper, Mr. William Thompson",male,28.00,0.0,0.0,113788,35.5000,A6,S
24,25.0,0.0,3.0,"Palsson, Miss. Torborg Danira",female,8.00,3.0,1.0,349909,21.0750,NaN,S
25,26.0,1.0,3.0,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.00,1.0,5.0,347077,31.3875,NaN,S
26,27.0,0.0,3.0,"Emir, Mr. Farred Chehab",male,NaN,0.0,0.0,2631,7.2250,NaN,C
27,28.0,0.0,1.0,"Fortune, Mr. Charles Alexander",male,19.00,3.0,2.0,19950,263.0000,C23 C25 C27,S
28,29.0,1.0,3.0,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0.0,0.0,330959,7.8792,NaN,Q
29,30.0,0.0,3.0,"Todoroff, Mr. Lalio",male,NaN,0.0,0.0,349216,7.8958,NaN,S
30,31.0,0.0,1.0,"Uruchurtu, Don. Manuel E",male,40.00,0.0,0.0,PC 17601,27.7208,NaN,C
31,32.0,1.0,1.0,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1.0,0.0,PC 17569,146.5208,B78,C
32,33.0,1.0,3.0,"Glynn, Miss. Mary Agatha",female,NaN,0.0,0.0,335677,7.7500,NaN,Q
33,34.0,0.0,2.0,"Wheadon, Mr. Edward H",male,66.00,0.0,0.0,C.A. 24579,10.5000,NaN,S
34,35.0,0.0,1.0,"Meyer, Mr. Edgar Joseph",male,28.00,1.0,0.0,PC 17604,82.1708,NaN,C
35,36.0,0.0,1.0,"Holverson, Mr. Alexander Oskar",male,42.00,1.0,0.0,113789,52.0000,NaN,S
36,37.0,1.0,3.0,"Mamee, Mr. Hanna",male,NaN,0.0,0.0,2677,7.2292,NaN,C
37,38.0,0.0,3.0,"Cann, Mr. Ernest Charles",male,21.00,0.0,0.0,A./5. 2152,8.0500,NaN,S
38,39.0,0.0,3.0,"Vander Planke, Miss. Augusta Maria",female,18.00,2.0,0.0,345764,18.0000,NaN,S
39,40.0,1.0,3.0,"Nicola-Yarred, Miss. Jamila",female,14.00,1.0,0.0,2651,11.2417,NaN,C
40,41.0,0.0,3.0,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1.0,0.0,7546,9.4750,NaN,S
41,42.0,0.0,2.0,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.00,1.0,0.0,11668,21.0000,NaN,S
42,43.0,0.0,3.0,"Kraeff, Mr. Theodor",male,NaN,0.0,0.0,349253,7.8958,NaN,C
43,44.0,1.0,2.0,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1.0,2.0,SC/Paris 2123,41.5792,NaN,C
44,45.0,1.0,3.0,"Devaney, Miss. Margaret Delia",female,19.00,0.0,0.0,330958,7.8792,NaN,Q
45,46.0,0.0,3.0,"Rogers, Mr. William John",male,NaN,0.0,0.0,S.C./A.4. 23567,8.0500,NaN,S
46,47.0,0.0,3.0,"Lennon, Mr. Denis",male,NaN,1.0,0.0,370371,15.5000,NaN,Q
47,48.0,1.0,3.0,"O'Driscoll, Miss. Bridget",female,NaN,0.0,0.0,14311,7.7500,NaN,Q
48,49.0,0.0,3.0,"Samaan, Mr. Youssef",male,NaN,2.0,0.0,2662,21.6792,NaN,C
49,50.0,0.0,3.0,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1.0,0.0,349237,17.8000,NaN,S
50,51.0,0.0,3.0,"Panula, Master. Juha Niilo",male,7.00,4.0,1.0,3101295,39.6875,NaN,S
51,52.0,0.0,3.0,"Nosworthy, Mr. Richard Cater",male,21.00,0.0,0.0,A/4. 39886,7.8000,NaN,S
52,53.0,1.0,1.0,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.00,1.0,0.0,PC 17572,76.7292,D33,C
53,54.0,1.0,2.0,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29.00,1.0,0.0,2926,26.0000,NaN,S
54,55.0,0.0,1.0,"Ostby, Mr. Engelhart Cornelius",male,65.00,0.0,1.0,113509,61.9792,B30,C
55,56.0,1.0,1.0,"Woolner, Mr. Hugh",male,NaN,0.0,0.0,19947,35.5000,C52,S
56,57.0,1.0,2.0,"Rugg, Miss. Emily",female,21.00,0.0,0.0,C.A. 31026,10.5000,NaN,S
57,58.0,0.0,3.0,"Novel, Mr. Mansouer",male,28.50,0.0,0.0,2697,7.2292,NaN,C
58,59.0,1.0,2.0,"West, Miss. Constance Mirium",female,5.00,1.0,2.0,C.A. 34651,27.7500,NaN,S
59,60.0,0.0,3.0,"Goodwin, Master. William Frederick",male,11.00,5.0,2.0,CA 2144,46.9000,NaN,S
60,61.0,0.0,3.0,"Sirayanian, Mr. Orsen",male,22.00,0.0,0.0,2669,7.2292,NaN,C
61,62.0,1.0,1.0,"Icard, Miss. Amelie",female,38.00,0.0,0.0,113572,80.0000,B28,NaN
62,63.0,0.0,1.0,"Harris, Mr. Henry Birkhardt",male,45.00,1.0,0.0,36973,83.4750,C83,S
63,64.0,0.0,3.0,"Skoog, Master. Harald",male,4.00,3.0,2.0,347088,27.9000,NaN,S
64,65.0,0.0,1.0,"Stewart, Mr. Albert A",male,NaN,0.0,0.0,PC 17605,27.7208,NaN,C
65,66.0,1.0,3.0,"Moubarek, Master. Gerios",male,NaN,1.0,1.0,2661,15.2458,NaN,C
66,67.0,1.0,2.0,"Nye, Mrs. (Elizabeth Ramell)",female,29.00,0.0,0.0,C.A. 29395,10.5000,F33,S
67,68.0,0.0,3.0,"Crease, Mr. Ernest James",male,19.00,0.0,0.0,S.P. 3464,8.1583,NaN,S
68,69.0,1.0,3.0,"Andersson, Miss. Erna Alexandra",female,17.00,4.0,2.0,3101281,7.9250,NaN,S
69,70.0,0.0,3.0,"Kink, Mr. Vincenz",male,26.00,2.0,0.0,315151,8.6625,NaN,S
70,71.0,0.0,2.0,"Jenkin, Mr. Stephen Curnow",male,32.00,0.0,0.0,C.A. 33111,10.5000,NaN,S
71,72.0,0.0,3.0,"Goodwin, Miss. Lillian Amy",female,16.00,5.0,2.0,CA 2144,46.9000,NaN,S
72,73.0,0.0,2.0,"Hood, Mr. Ambrose Jr",male,21.00,0.0,0.0,S.O.C. 14879,73.5000,NaN,S
73,74.0,0.0,3.0,"Chronopoulos, Mr. Apostolos",male,26.00,1.0,0.0,2680,14.4542,NaN,C
74,75.0,1.0,3.0,"Bing, Mr. Lee",male,32.00,0.0,0.0,1601,56.4958,NaN,S
75,76.0,0.0,3.0,"Moen, Mr. Sigurd Hansen",male,25.00,0.0,0.0,348123,7.6500,F G73,S
76,77.0,0.0,3.0,"Staneff, Mr. Ivan",male,NaN,0.0,0.0,349208,7.8958,NaN,S
77,78.0,0.0,3.0,"Moutal, Mr. Rahamin Haim",male,NaN,0.0,0.0,374746,8.0500,NaN,S
78,79.0,1.0,2.0,"Caldwell, Master. Alden Gates",male,0.83,0.0,2.0,248738,29.0000,NaN,S
79,80.0,1.0,3.0,"Dowdell, Miss. Elizabeth",female,30.00,0.0,0.0,364516,12.4750,NaN,S
80,81.0,0.0,3.0,"Waelens, Mr. Achille",male,22.00,0.0,0.0,345767,9.0000,NaN,S
81,82.0,1.0,3.0,"Sheerlinck, Mr. Jan Baptist",male,29.00,0.0,0.0,345779,9.5000,NaN,S
82,83.0,1.0,3.0,"McDermott, Miss. Brigdet Delia",female,NaN,0.0,0.0,330932,7.7875,NaN,Q
83,84.0,0.0,1.0,"Carrau, Mr. Francisco M",male,28.00,0.0,0.0,113059,47.1000,NaN,S
84,85.0,1.0,2.0,"Ilett, Miss. Bertha",female,17.00,0.0,0.0,SO/C 14885,10.5000,NaN,S
85,86.0,1.0,3.0,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.00,3.0,0.0,3101278,15.8500,NaN,S
86,87.0,0.0,3.0,"Ford, Mr. William Neal",male,16.00,1.0,3.0,W./C. 6608,34.3750,NaN,S
87,88.0,0.0,3.0,"Slocovski, Mr. Selman Francis",male,NaN,0.0,0.0,SOTON/OQ 392086,8.0500,NaN,S
88,89.0,1.0,1.0,"Fortune, Miss. Mabel Helen",female,23.00,3.0,2.0,19950,263.0000,C23 C25 C27,S
89,90.0,0.0,3.0,"Celotti, Mr. Francesco",male,24.00,0.0,0.0,343275,8.0500,NaN,S
90,91.0,0.0,3.0,"Christmann, Mr. Emil",male,29.00,0.0,0.0,343276,8.0500,NaN,S
91,92.0,0.0,3.0,"Andreasson, Mr. Paul Edvin",male,20.00,0.0,0.0,347466,7.8542,NaN,S
92,93.0,0.0,1.0,"Chaffee, Mr. Herbert Fuller",male,46.00,1.0,0.0,W.E.P. 5734,61.1750,E31,S
93,94.0,0.0,3.0,"Dean, Mr. Bertram Frank",male,26.00,1.0,2.0,C.A. 2315,20.5750,NaN,S
94,95.0,0.0,3.0,"Coxon, Mr. Daniel",male,59.00,0.0,0.0,364500,7.2500,NaN,S
95,96.0,0.0,3.0,"Shorney, Mr. Charles Joseph",male,NaN,0.0,0.0,374910,8.0500,NaN,S
96,97.0,0.0,1.0,"Goldschmidt, Mr. George B",male,71.00,0.0,0.0,PC 17754,34.6542,A5,C
97,98.0,1.0,1.0,"Greenfield, Mr. William Bertram",male,23.00,0.0,1.0,PC 17759,63.3583,D10 D12,C
98,99.0,1.0,2.0,"Doling, Mrs. John T (Ada Julia Bone)",female,34.00,0.0,1.0,231919,23.0000,NaN,S
99,100.0,0.0,2.0,"Kantor, Mr. Sinai",male,34.00,1.0,0.0,244367,26.0000,NaN,S
100,101.0,0.0,3.0,"Petranec, Miss. Matilda",female,28.00,0.0,0.0,349245,7.8958,NaN,S
101,102.0,0.0,3.0,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0.0,0.0,349215,7.8958,NaN,S
102,103.0,0.0,1.0,"White, Mr. Richard Frasar",male,21.00,0.0,1.0,35281,77.2875,D26,S
103,104.0,0.0,3.0,"Johansson, Mr. Gustaf Joel",male,33.00,0.0,0.0,7540,8.6542,NaN,S
104,105.0,0.0,3.0,"Gustafsson, Mr. Anders Vilhelm",male,37.00,2.0,0.0,3101276,7.9250,NaN,S
105,106.0,0.0,3.0,"Mionoff, Mr. Stoytcho",male,28.00,0.0,0.0,349207,7.8958,NaN,S
106,107.0,1.0,3.0,"Salkjelsvik, Miss. Anna Kristine",female,21.00,0.0,0.0,343120,7.6500,NaN,S
107,108.0,1.0,3.0,"Moss, Mr. Albert Johan",male,NaN,0.0,0.0,312991,7.7750,NaN,S
108,109.0,0.0,3.0,"Rekic, Mr. Tido",male,38.00,0.0,0.0,349249,7.8958,NaN,S
109,110.0,1.0,3.0,"Moran, Miss. Bertha",female,NaN,1.0,0.0,371110,24.1500,NaN,Q
110,111.0,0.0,1.0,"Porter, Mr. Walter Chamberlain",male,47.00,0.0,0.0,110465,52.0000,C110,S
111,112.0,0.0,3.0,"Zabour, Miss. Hileni",female,14.50,1.0,0.0,2665,14.4542,NaN,C
112,113.0,0.0,3.0,"Barton, Mr. David John",male,22.00,0.0,0.0,324669,8.0500,NaN,S
113,114.0,0.0,3.0,"Jussila, Miss. Katriina",female,20.00,1.0,0.0,4136,9.8250,NaN,S
114,115.0,0.0,3.0,"Attalah, Miss. Malake",female,17.00,0.0,0.0,2627,14.4583,NaN,C
115,116.0,0.0,3.0,"Pekoniemi, Mr. Edvard",male,21.00,0.0,0.0,STON/O 2. 3101294,7.9250,NaN,S
116,117.0,0.0,3.0,"Connors, Mr. Patrick",male,70.50,0.0,0.0,370369,7.7500,NaN,Q
117,118.0,0.0,2.0,"Turpin, Mr. William John Robert",male,29.00,1.0,0.0,11668,21.0000,NaN,S
118,119.0,0.0,1.0,"Baxter, Mr. Quigg Edmond",male,24.00,0.0,1.0,PC 17558,247.5208,B58 B60,C
119,120.0,0.0,3.0,"Andersson, Miss. Ellis Anna Maria",female,2.00,4.0,2.0,347082,31.2750,NaN,S
120,121.0,0.0,2.0,"Hickman, Mr. Stanley George",male,21.00,2.0,0.0,S.O.C. 14879,73.5000,NaN,S
121,122.0,0.0,3.0,"Moore, Mr. Leonard Charles",male,NaN,0.0,0.0,A4. 54510,8.0500,NaN,S
122,123.0,0.0,2.0,"Nasser, Mr. Nicholas",male,32.50,1.0,0.0,237736,30.0708,NaN,C
123,124.0,1.0,2.0,"Webber, Miss. Susan",female,32.50,0.0,0.0,27267,13.0000,E101,S
124,125.0,0.0,1.0,"White, Mr. Percival Wayland",male,54.00,0.0,1.0,35281,77.2875,D26,S
125,126.0,1.0,3.0,"Nicola-Yarred, Master. Elias",male,12.00,1.0,0.0,2651,11.2417,NaN,C
126,127.0,0.0,3.0,"McMahon, Mr. Martin",male,NaN,0.0,0.0,370372,7.7500,NaN,Q
127,128.0,1.0,3.0,"Madsen, Mr. Fridtjof Arne",male,24.00,0.0,0.0,C 17369,7.1417,NaN,S
128,129.0,1.0,3.0,"Peter, Miss. Anna",female,NaN,1.0,1.0,2668,22.3583,F E69,C
129,130.0,0.0,3.0,"Ekstrom, Mr. Johan",male,45.00,0.0,0.0,347061,6.9750,NaN,S
130,131.0,0.0,3.0,"Drazenoic, Mr. Jozef",male,33.00,0.0,0.0,349241,7.8958,NaN,C
131,132.0,0.0,3.0,"Coelho, Mr. Domingos Fernandeo",male,20.00,0.0,0.0,SOTON/O.Q. 3101307,7.0500,NaN,S
132,133.0,0.0,3.0,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.00,1.0,0.0,A/5. 3337,14.5000,NaN,S
133,134.0,1.0,2.0,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.00,1.0,0.0,228414,26.0000,NaN,S
134,135.0,0.0,2.0,"Sobey, Mr. Samuel James Hayden",male,25.00,0.0,0.0,C.A. 29178,13.0000,NaN,S
135,136.0,0.0,2.0,"Richard, Mr. Emile",male,23.00,0.0,0.0,SC/PARIS 2133,15.0458,NaN,C
136,137.0,1.0,1.0,"Newsom, Miss. Helen Monypeny",female,19.00,0.0,2.0,11752,26.2833,D47,S
137,138.0,0.0,1.0,"Futrelle, Mr. Jacques Heath",male,37.00,1.0,0.0,113803,53.1000,C123,S
138,139.0,0.0,3.0,"Osen, Mr. Olaf Elon",male,16.00,0.0,0.0,7534,9.2167,NaN,S
139,140.0,0.0,1.0,"Giglio, Mr. Victor",male,24.00,0.0,0.0,PC 17593,79.2000,B86,C
140,141.0,0.0,3.0,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0.0,2.0,2678,15.2458,NaN,C
141,142.0,1.0,3.0,"Nysten, Miss. Anna Sofia",female,22.00,0.0,0.0,347081,7.7500,NaN,S
142,143.0,1.0,3.0,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",female,24.00,1.0,0.0,STON/O2. 3101279,15.8500,NaN,S
143,144.0,0.0,3.0,"Burke, Mr. Jeremiah",male,19.00,0.0,0.0,365222,6.7500,NaN,Q
144,145.0,0.0,2.0,"Andrew, Mr. Edgardo Samuel",male,18.00,0.0,0.0,231945,11.5000,NaN,S
145,146.0,0.0,2.0,"Nicholls, Mr. Joseph Charles",male,19.00,1.0,1.0,C.A. 33112,36.7500,NaN,S
146,147.0,1.0,3.0,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.00,0.0,0.0,350043,7.7958,NaN,S
147,148.0,0.0,3.0,"Ford, Miss. Robina Maggie ""Ruby""",female,9.00,2.0,2.0,W./C. 6608,34.3750,NaN,S
148,149.0,0.0,2.0,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.50,0.0,2.0,230080,26.0000,F2,S
149,150.0,0.0,2.0,"Byles, Rev. Thomas Roussel Davids",male,42.00,0.0,0.0,244310,13.0000,NaN,S
150,151.0,0.0,2.0,"Bateman, Rev. Robert James",male,51.00,0.0,0.0,S.O.P. 1166,12.5250,NaN,S
151,152.0,1.0,1.0,"Pears, Mrs. Thomas (Edith Wearne)",female,22.00,1.0,0.0,113776,66.6000,C2,S
152,153.0,0.0,3.0,"Meo, Mr. Alfonzo",male,55.50,0.0,0.0,A.5. 11206,8.0500,NaN,S
153,154.0,0.0,3.0,"van Billiard, Mr. Austin Blyler",male,40.50,0.0,2.0,A/5. 851,14.5000,NaN,S
154,155.0,0.0,3.0,"Olsen, Mr. Ole Martin",male,NaN,0.0,0.0,Fa 265302,7.3125,NaN,S
155,156.0,0.0,1.0,"Williams, Mr. Charles Duane",male,51.00,0.0,1.0,PC 17597,61.3792,NaN,C
156,157.0,1.0,3.0,"Gilnagh, Miss. Katherine ""Katie""",female,16.00,0.0,0.0,35851,7.7333,NaN,Q
157,158.0,0.0,3.0,"Corn, Mr. Harry",male,30.00,0.0,0.0,SOTON/OQ 392090,8.0500,NaN,S
158,159.0,0.0,3.0,"Smiljanic, Mr. Mile",male,NaN,0.0,0.0,315037,8.6625,NaN,S
159,160.0,0.0,3.0,"Sage, Master. Thomas Henry",male,NaN,8.0,2.0,CA. 2343,69.5500,NaN,S
160,161.0,0.0,3.0,"Cribb, Mr. John Hatfield",male,44.00,0.0,1.0,371362,16.1000,NaN,S
161,162.0,1.0,2.0,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40.00,0.0,0.0,C.A. 33595,15.7500,NaN,S
162,163.0,0.0,3.0,"Bengtsson, Mr. John Viktor",male,26.00,0.0,0.0,347068,7.7750,NaN,S
163,164.0,0.0,3.0,"Calic, Mr. Jovo",male,17.00,0.0,0.0,315093,8.6625,NaN,S
164,165.0,0.0,3.0,"Panula, Master. Eino Viljami",male,1.00,4.0,1.0,3101295,39.6875,NaN,S
165,166.0,1.0,3.0,"Goldsmith, Master. Frank John William ""Frankie""",male,9.00,0.0,2.0,363291,20.5250,NaN,S
166,167.0,1.0,1.0,"Chibnall, Mrs. (Edith Martha Bowerman)",female,NaN,0.0,1.0,113505,55.0000,E33,S
167,168.0,0.0,3.0,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.00,1.0,4.0,347088,27.9000,NaN,S
168,169.0,0.0,1.0,"Baumann, Mr. John D",male,NaN,0.0,0.0,PC 17318,25.9250,NaN,S
169,170.0,0.0,3.0,"Ling, Mr. Lee",male,28.00,0.0,0.0,1601,56.4958,NaN,S
170,171.0,0.0,1.0,"Van der hoef, Mr. Wyckoff",male,61.00,0.0,0.0,111240,33.5000,B19,S
171,172.0,0.0,3.0,"Rice, Master. Arthur",male,4.00,4.0,1.0,382652,29.1250,NaN,Q
172,173.0,1.0,3.0,"Johnson, Miss. Eleanor Ileen",female,1.00,1.0,1.0,347742,11.1333,NaN,S
173,174.0,0.0,3.0,"Sivola, Mr. Antti Wilhelm",male,21.00,0.0,0.0,STON/O 2. 3101280,7.9250,NaN,S
174,175.0,0.0,1.0,"Smith, Mr. James Clinch",male,56.00,0.0,0.0,17764,30.6958,A7,C
175,176.0,0.0,3.0,"Klasen, Mr. Klas Albin",male,18.00,1.0,1.0,350404,7.8542,NaN,S
176,177.0,0.0,3.0,"Lefebre, Master. Henry Forbes",male,NaN,3.0,1.0,4133,25.4667,NaN,S
177,178.0,0.0,1.0,"Isham, Miss. Ann Elizabeth",female,50.00,0.0,0.0,PC 17595,28.7125,C49,C
178,179.0,0.0,2.0,"Hale, Mr. Reginald",male,30.00,0.0,0.0,250653,13.0000,NaN,S
179,180.0,0.0,3.0,"Leonard, Mr. Lionel",male,36.00,0.0,0.0,LINE,0.0000,NaN,S
180,181.0,0.0,3.0,"Sage, Miss. Constance Gladys",female,NaN,8.0,2.0,CA. 2343,69.5500,NaN,S
181,182.0,0.0,2.0,"Pernot, Mr. Rene",male,NaN,0.0,0.0,SC/PARIS 2131,15.0500,NaN,C
182,183.0,0.0,3.0,"Asplund, Master. Clarence Gustaf Hugo",male,9.00,4.0,2.0,347077,31.3875,NaN,S
183,184.0,1.0,2.0,"Becker, Master. Richard F",male,1.00,2.0,1.0,230136,39.0000,F4,S
184,185.0,1.0,3.0,"Kink-Heilmann, Miss. Luise Gretchen",female,4.00,0.0,2.0,315153,22.0250,NaN,S
185,186.0,0.0,1.0,"Rood, Mr. Hugh Roscoe",male,NaN,0.0,0.0,113767,50.0000,A32,S
186,187.0,1.0,3.0,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,NaN,1.0,0.0,370365,15.5000,NaN,Q
187,188.0,1.0,1.0,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45.00,0.0,0.0,111428,26.5500,NaN,S
188,189.0,0.0,3.0,"Bourke, Mr. John",male,40.00,1.0,1.0,364849,15.5000,NaN,Q
189,190.0,0.0,3.0,"Turcin, Mr. Stjepan",male,36.00,0.0,0.0,349247,7.8958,NaN,S
190,191.0,1.0,2.0,"Pinsky, Mrs. (Rosa)",female,32.00,0.0,0.0,234604,13.0000,NaN,S
191,192.0,0.0,2.0,"Carbines, Mr. William",male,19.00,0.0,0.0,28424,13.0000,NaN,S
192,193.0,1.0,3.0,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.00,1.0,0.0,350046,7.8542,NaN,S
193,194.0,1.0,2.0,"Navratil, Master. Michel M",male,3.00,1.0,1.0,230080,26.0000,F2,S
194,195.0,1.0,1.0,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.00,0.0,0.0,PC 17610,27.7208,B4,C
195,196.0,1.0,1.0,"Lurette, Miss. Elise",female,58.00,0.0,0.0,PC 17569,146.5208,B80,C
196,197.0,0.0,3.0,"Mernagh, Mr. Robert",male,NaN,0.0,0.0,368703,7.7500,NaN,Q
197,198.0,0.0,3.0,"Olsen, Mr. Karl Siegwart Andreas",male,42.00,0.0,1.0,4579,8.4042,NaN,S
198,199.0,1.0,3.0,"Madigan, Miss. Margaret ""Maggie""",female,NaN,0.0,0.0,370370,7.7500,NaN,Q
199,200.0,0.0,2.0,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24.00,0.0,0.0,248747,13.0000,NaN,S
200,201.0,0.0,3.0,"Vande Walle, Mr. Nestor Cyriel",male,28.00,0.0,0.0,345770,9.5000,NaN,S
201,202.0,0.0,3.0,"Sage, Mr. Frederick",male,NaN,8.0,2.0,CA. 2343,69.5500,NaN,S
202,203.0,0.0,3.0,"Johanson, Mr. Jakob Alfred",male,34.00,0.0,0.0,3101264,6.4958,NaN,S
203,204.0,0.0,3.0,"Youseff, Mr. Gerious",male,45.50,0.0,0.0,2628,7.2250,NaN,C
204,205.0,1.0,3.0,"Cohen, Mr. Gurshon ""Gus""",male,18.00,0.0,0.0,A/5 3540,8.0500,NaN,S
205,206.0,0.0,3.0,"Strom, Miss. Telma Matilda",female,2.00,0.0,1.0,347054,10.4625,G6,S
206,207.0,0.0,3.0,"Backstrom, Mr. Karl Alfred",male,32.00,1.0,0.0,3101278,15.8500,NaN,S
207,208.0,1.0,3.0,"Albimona, Mr. Nassef Cassem",male,26.00,0.0,0.0,2699,18.7875,NaN,C
208,209.0,1.0,3.0,"Carr, Miss. Helen ""Ellen""",female,16.00,0.0,0.0,367231,7.7500,NaN,Q
209,210.0,1.0,1.0,"Blank, Mr. Henry",male,40.00,0.0,0.0,112277,31.0000,A31,C
210,211.0,0.0,3.0,"Ali, Mr. Ahmed",male,24.00,0.0,0.0,SOTON/O.Q. 3101311,7.0500,NaN,S
211,212.0,1.0,2.0,"Cameron, Miss. Clear Annie",female,35.00,0.0,0.0,F.C.C. 13528,21.0000,NaN,S
212,213.0,0.0,3.0,"Perkin, Mr. John Henry",male,22.00,0.0,0.0,A/5 21174,7.2500,NaN,S
213,214.0,0.0,2.0,"Givard, Mr. Hans Kristensen",male,30.00,0.0,0.0,250646,13.0000,NaN,S
214,215.0,0.0,3.0,"Kiernan, Mr. Philip",male,NaN,1.0,0.0,367229,7.7500,NaN,Q
215,216.0,1.0,1.0,"Newell, Miss. Madeleine",female,31.00,1.0,0.0,35273,113.2750,D36,C
216,217.0,1.0,3.0,"Honkanen, Miss. Eliina",female,27.00,0.0,0.0,STON/O2. 3101283,7.9250,NaN,S
217,218.0,0.0,2.0,"Jacobsohn, Mr. Sidney Samuel",male,42.00,1.0,0.0,243847,27.0000,NaN,S
218,219.0,1.0,1.0,"Bazzani, Miss. Albina",female,32.00,0.0,0.0,11813,76.2917,D15,C
219,220.0,0.0,2.0,"Harris, Mr. Walter",male,30.00,0.0,0.0,W/C 14208,10.5000,NaN,S
220,221.0,1.0,3.0,"Sunderland, Mr. Victor Francis",male,16.00,0.0,0.0,SOTON/OQ 392089,8.0500,NaN,S
221,222.0,0.0,2.0,"Bracken, Mr. James H",male,27.00,0.0,0.0,220367,13.0000,NaN,S
222,223.0,0.0,3.0,"Green, Mr. George Henry",male,51.00,0.0,0.0,21440,8.0500,NaN,S
223,224.0,0.0,3.0,"Nenkoff, Mr. Christo",male,NaN,0.0,0.0,349234,7.8958,NaN,S
224,225.0,1.0,1.0,"Hoyt, Mr. Frederick Maxfield",male,38.00,1.0,0.0,19943,90.0000,C93,S
225,226.0,0.0,3.0,"Berglund, Mr. Karl Ivar Sven",male,22.00,0.0,0.0,PP 4348,9.3500,NaN,S

In [ ]:
print(df_dup.shape)
print(df_dup.drop_duplicates().shape)

(894, 12)
(891, 12)

### Groupby
Assim como no SQL, no pandas também temos um método com o qual podemos agregar os dados. O `groupby` primeiro separa nossos dados em grupos definidos dentro do método,  aplicar um tipo de operação usando agregação, transformação, filtragem ou até uma função própria e, por fim, juntar os resultados encontrados.
<br>

<img src="https://github.com/patriciacatandi/Lets_Code_Alunos/blob/paty/02_Ferramentas_Programa%C3%A7%C3%A3o/03_Pandas/groupby.png?raw=1"  style="width: 700px" >
Exemplo de aplicação da função de agregação `mean`
<br><br><br>

Utilizar o `groupby` é o mesmo que fazer a sequência:

    Dividir os dados em grupos utilizando um critério
    
    Aplicar uma função em cada um dos grupos separadamente
    
    Combinar o resultado em uma estrutura de dados

#### Funções de agregação
Com essas funções podemos aplicar operações estatísticas nos nossos dados. Exemplos:<br>
`mean`, `std`, `max`, `min`, `count`, `sum`, `var`. <br>
Quando queremos aplicar apenas uma dessas operações podemos chamá-las diretamente após o `groupby`:

In [ ]:
df.groupby(["Pclass"]).mean()

        PassengerId  Survived        Age     SibSp     Parch       Fare
Pclass
1        461.597222  0.629630  38.233441  0.416667  0.356481  84.154687
2        445.956522  0.472826  29.877630  0.402174  0.380435  20.662183
3        439.154786  0.242363  25.140620  0.615071  0.393075  13.675550

In [ ]:
# FUNÇÃO DE AGREGAÇÃO mean()
df.groupby(["Pclass", "Sex"]).mean()

               PassengerId  Survived        Age     SibSp     Parch  \
Pclass Sex
1      female   469.212766  0.968085  34.611765  0.553191  0.457447
       male     455.729508  0.368852  41.281386  0.311475  0.278689
2      female   443.105263  0.921053  28.722973  0.486842  0.605263
       male     447.962963  0.157407  30.740707  0.342593  0.222222
3      female   399.729167  0.500000  21.750000  0.895833  0.798611
       male     455.515850  0.135447  26.507589  0.498559  0.224784

                     Fare
Pclass Sex
1      female  106.125798
       male     67.226127
2      female   21.970121
       male     19.741782
3      female   16.118810
       male     12.661633

Aqui agregamos os dados por Pclass e Sex e em todas as colunas numéricas foi calculada a média. Se quiséssemos a média de apenas uma coluna poderíamos adicioná-la ao final da nossa sentença:

In [ ]:
# Queremos apenas a média de idade considerando a classe e o sexo
df.groupby(["Pclass", "Sex"]).mean()[['Age']]

                     Age
Pclass Sex
1      female  34.611765
       male    41.281386
2      female  28.722973
       male    30.740707
3      female  21.750000
       male    26.507589

Ou de modo mais eficiente:

In [ ]:
df.groupby(["Pclass", "Sex"])[['Age']].mean()

                     Age
Pclass Sex
1      female  34.611765
       male    41.281386
2      female  28.722973
       male    30.740707
3      female  21.750000
       male    26.507589

Note que `df.groupby('A').colname.mean()` é mais eficiente que `df.groupby('A').mean().colname` pois a agregação só será realizada na coluna de interesse (colname).

Quando queremos aplicar mais de uma operação chamamos o método `.agg()`

In [ ]:
df.groupby(["Pclass"]).agg(['mean','max','min'])

       PassengerId           Survived                Age              \
              mean  max min      mean max min       mean   max   min
Pclass
1       461.597222  890   2  0.629630   1   0  38.233441  80.0  0.92
2       445.956522  887  10  0.472826   1   0  29.877630  70.0  0.67
3       439.154786  891   1  0.242363   1   0  25.140620  74.0  0.42

           SibSp             Parch               Fare
            mean max min      mean max min       mean       max  min
Pclass
1       0.416667   3   0  0.356481   4   0  84.154687  512.3292  0.0
2       0.402174   3   0  0.380435   3   0  20.662183   73.5000  0.0
3       0.615071   8   0  0.393075   6   0  13.675550   69.5500  0.0

Para operações distintas em colunas distintas passamos um dicionário com o nome da coluna como chave e a operação como valor

In [ ]:
import numpy as np
df_temp = df.groupby(['Pclass']).agg({'Embarked':pd.Series.mode,'Fare':'mean', 'Parch':np.mean })
df_temp

       Embarked       Fare     Parch
Pclass
1             S  84.154687  0.356481
2             S  20.662183  0.380435
3             S  13.675550  0.393075

In [ ]:
df_temp.columns = ['mode_embarked', 'mean_fare', 'mean_parch']
df_temp

       mode_embarked  mean_fare  mean_parch
Pclass
1                  S  84.154687    0.356481
2                  S  20.662183    0.380435
3                  S  13.675550    0.393075

In [ ]:
df_temp.columns

Index(['mode_embarked', 'mean_fare', 'mean_parch'], dtype='object')

In [ ]:
df_temp.index

Int64Index([1, 2, 3], dtype='int64', name='Pclass')

Se quisermos que o df de saída tenha nomes específicos devemos seguir o padrão:

In [ ]:
df.groupby(['Pclass']).agg(mode_embarked=('Embarked',pd.Series.mode), mean_fare=('Fare',np.mean))

       mode_embarked  mean_fare
Pclass
1                  S  84.154687
2                  S  20.662183
3                  S  13.675550

Reparem que a coluna utilizada no `groupby` virou um index do nosso df. Para convertê-la em coluna novamente temos duas formas: <br>
  1. chamar o parâmetro `as_index=False` dentro do `groupby`
  2. aplicar `.reset_index()` ao final da sentença

In [ ]:
# exemplo com as_index = False
df.groupby(['Pclass'], as_index=False).agg(mode_embarked=('Embarked',pd.Series.mode),mean_fare=('Fare',np.mean))

   Pclass mode_embarked  mean_fare
0       1             S  84.154687
1       2             S  20.662183
2       3             S  13.675550

In [ ]:
# exemplo com .reset_index()
df.groupby(['Pclass']).agg(mode_embarked=('Embarked',pd.Series.mode),mean_fare=('Fare',np.mean)).reset_index()

   Pclass mode_embarked  mean_fare
0       1             S  84.154687
1       2             S  20.662183
2       3             S  13.675550

In [ ]:
df.groupby(['Pclass', 'Sex']).agg(mode_embarked=('Embarked',pd.Series.mode),mean_fare=('Fare',np.mean)).reset_index()

   Pclass     Sex mode_embarked   mean_fare
0       1  female             S  106.125798
1       1    male             S   67.226127
2       2  female             S   21.970121
3       2    male             S   19.741782
4       3  female             S   16.118810
5       3    male             S   12.661633

E se quisessemos criar uma coluna nova que contenham o valor médio do Fare por Pclass?

In [ ]:
df.groupby('Pclass')[["Fare"]].mean()

             Fare
Pclass
1       84.154687
2       20.662183
3       13.675550

In [ ]:
df['fare_mean'] = df.groupby('Pclass')[["Fare"]].mean()

In [ ]:
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_mean
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,84.154687
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,20.662183
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,13.675550
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,NaN
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,NaN
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,NaN
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,NaN
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,NaN
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,NaN

Queremos que todos da primeira classe tenham o valor 84.15 nessa nova coluna, todes da segunda classe tenham o valor 20.66 e da terceira classe 13.67. <br>
Podemos tentar:

In [ ]:
df["Fare_Mean"] = df.groupby('Pclass')["Fare"].mean()

In [ ]:
df.head(10)

Xiiii... deu ruim...
<br>
<br>
Como poderíamos resolver utilizando o `groupby().agg()`?

#### Transformação dos dados
Ao aplicarmos o método `.transform()` temos como retorno um objeto com o mesmo index do df de origem contendo a a tranformação realizada para cada uma das linhas. Dessa forma podemos utilizar esse método e apenas criar uma coluna nova no nosso df.
<br>

Ele será muito **útil na criação de novas features** para os modelos.

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_mean
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,84.154687
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,20.662183
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,13.675550
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,NaN

In [ ]:
df.groupby('Pclass')[["Fare"]].transform('mean')

          Fare
0    13.675550
1    84.154687
2    13.675550
3    84.154687
4    13.675550
5    13.675550
6    84.154687
7    13.675550
8    13.675550
9    20.662183
10   13.675550
11   84.154687
12   13.675550
13   13.675550
14   13.675550
15   20.662183
16   13.675550
17   20.662183
18   13.675550
19   13.675550
20   20.662183
21   20.662183
22   13.675550
23   84.154687
24   13.675550
25   13.675550
26   13.675550
27   84.154687
28   13.675550
29   13.675550
30   84.154687
31   84.154687
32   13.675550
33   20.662183
34   84.154687
35   84.154687
36   13.675550
37   13.675550
38   13.675550
39   13.675550
40   13.675550
41   20.662183
42   13.675550
43   20.662183
44   13.675550
45   13.675550
46   13.675550
47   13.675550
48   13.675550
49   13.675550
50   13.675550
51   13.675550
52   84.154687
53   20.662183
54   84.154687
55   84.154687
56   20.662183
57   13.675550
58   20.662183
59   13.675550
60   13.675550
61   84.154687
62   84.154687
63   13.675550
64   84.154687
65   13.675550
66   20.662183
67   13.675550
68   13.675550
69   13.675550
70   20.662183
71   13.675550
72   20.662183
73   13.675550
74   13.675550
75   13.675550
76   13.675550
77   13.675550
78   20.662183
79   13.675550
80   13.675550
81   13.675550
82   13.675550
83   84.154687
84   20.662183
85   13.675550
86   13.675550
87   13.675550
88   84.154687
89   13.675550
90   13.675550
91   13.675550
92   84.154687
93   13.675550
94   13.675550
95   13.675550
96   84.154687
97   84.154687
98   20.662183
99   20.662183
100  13.675550
101  13.675550
102  84.154687
103  13.675550
104  13.675550
105  13.675550
106  13.675550
107  13.675550
108  13.675550
109  13.675550
110  84.154687
111  13.675550
112  13.675550
113  13.675550
114  13.675550
115  13.675550
116  13.675550
117  20.662183
118  84.154687
119  13.675550
120  20.662183
121  13.675550
122  20.662183
123  20.662183
124  84.154687
125  13.675550
126  13.675550
127  13.675550
128  13.675550
129  13.675550
130  13.675550
131  13.675550
132  13.675550
133  20.662183
134  20.662183
135  20.662183
136  84.154687
137  84.154687
138  13.675550
139  84.154687
140  13.675550
141  13.675550
142  13.675550
143  13.675550
144  20.662183
145  20.662183
146  13.675550
147  13.675550
148  20.662183
149  20.662183
150  20.662183
151  84.154687
152  13.675550
153  13.675550
154  13.675550
155  84.154687
156  13.675550
157  13.675550
158  13.675550
159  13.675550
160  13.675550
161  20.662183
162  13.675550
163  13.675550
164  13.675550
165  13.675550
166  84.154687
167  13.675550
168  84.154687
169  13.675550
170  84.154687
171  13.675550
172  13.675550
173  13.675550
174  84.154687
175  13.675550
176  13.675550
177  84.154687
178  20.662183
179  13.675550
180  13.675550
181  20.662183
182  13.675550
183  20.662183
184  13.675550
185  84.154687
186  13.675550
187  84.154687
188  13.675550
189  13.675550
190  20.662183
191  20.662183
192  13.675550
193  20.662183
194  84.154687
195  84.154687
196  13.675550
197  13.675550
198  13.675550
199  20.662183
200  13.675550
201  13.675550
202  13.675550
203  13.675550
204  13.675550
205  13.675550
206  13.675550
207  13.675550
208  13.675550
209  84.154687
210  13.675550
211  20.662183
212  13.675550
213  20.662183
214  13.675550
215  84.154687
216  13.675550
217  20.662183
218  84.154687
219  20.662183
220  13.675550
221  20.662183
222  13.675550
223  13.675550
224  84.154687
225  13.675550
226  20.662183
227  13.675550
228  20.662183
229  13.675550
230  84.154687
231  13.675550
232  20.662183
233  13.675550
234  20.662183
235  13.675550
236  20.662183
237  20.662183
238  20.662183
239  20.662183
240  13.675550
241  13.675550
242  20.662183
243  13.675550
244  13.675550
245  84.154687
246  13.675550
247  20.662183
248  84.154687
249  20.662183
250  13.675550
251  13.675550
252  84.154687
253  13.675550
254  13.675550
255  13.675550
256  84.154687
257  84.154687
258  84.154687
259  20.662183
260  13.675550
261  13.675550
262  84.154687
263  84.154687
264  13.675550
265  20.662183
266  13.675550
267  13.675550
268  84.154687
269  84.154687
270  84.154687
271  13.675550
272  20.662183
273  84.154687
274  13.675550
275  84.154687
276  13.675550
277  20.662183
278  13.675550
279  13.675550
280  13.675550
281  13.675550
282  13.675550
283  13.675550
284  84.154687
285  13.675550
286  13.675550
287  13.675550
288  20.662183
289  13.675550
290  84.154687
291  84.154687
292  20.662183
293  13.675550
294  13.675550
295  84.154687
296  13.675550
297  84.154687
298  84.154687
299  84.154687
300  13.675550
301  13.675550
302  13.675550
303  20.662183
304  13.675550
305  84.154687
306  84.154687
307  84.154687
308  20.662183
309  84.154687
310  84.154687
311  84.154687
312  20.662183
313  13.675550
314  20.662183
315  13.675550
316  20.662183
317  20.662183
318  84.154687
319  84.154687
320  13.675550
321  13.675550
322  20.662183
323  20.662183
324  13.675550
325  84.154687
326  13.675550
327  20.662183
328  13.675550
329  84.154687
330  13.675550
331  84.154687
332  84.154687
333  13.675550
334  84.154687
335  13.675550
336  84.154687
337  84.154687
338  13.675550
339  84.154687
340  20.662183
341  84.154687
342  20.662183
343  20.662183
344  20.662183
345  20.662183
346  20.662183
347  13.675550
348  13.675550
349  13.675550
350  13.675550
351  84.154687
352  13.675550
353  13.675550
354  13.675550
355  13.675550
356  84.154687
357  20.662183
358  13.675550
359  13.675550
360  13.675550
361  20.662183
362  13.675550
363  13.675550
364  13.675550
365  13.675550
366  84.154687
367  13.675550
368  13.675550
369  84.154687
370  84.154687
371  13.675550
372  13.675550
373  84.154687
374  13.675550
375  84.154687
376  13.675550
377  84.154687
378  13.675550
379  13.675550
380  84.154687
381  13.675550
382  13.675550
383  84.154687
384  13.675550
385  20.662183
386  13.675550
387  20.662183
388  13.675550
389  20.662183
390  84.154687
391  13.675550
392  13.675550
393  84.154687
394  13.675550
395  13.675550
396  13.675550
397  20.662183
398  20.662183
399  20.662183
400  13.675550
401  13.675550
402  13.675550
403  13.675550
404  13.675550
405  20.662183
406  13.675550
407  20.662183
408  13.675550
409  13.675550
410  13.675550
411  13.675550
412  84.154687
413  20.662183
414  13.675550
415  13.675550
416  20.662183
417  20.662183
418  20.662183
419  13.675550
420  13.675550
421  13.675550
422  13.675550
423  13.675550
424  13.675550
425  13.675550
426  20.662183
427  20.662183
428  13.675550
429  13.675550
430  84.154687
431  13.675550
432  20.662183
433  13.675550
434  84.154687
435  84.154687
436  13.675550
437  20.662183
438  84.154687
439  20.662183
440  20.662183
441  13.675550
442  13.675550
443  20.662183
444  13.675550
445  84.154687
446  20.662183
447  84.154687
448  13.675550
449  84.154687
450  20.662183
451  13.675550
452  84.154687
453  84.154687
454  13.675550
455  13.675550
456  84.154687
457  84.154687
458  20.662183
459  13.675550
460  84.154687
461  13.675550
462  84.154687
463  20.662183
464  13.675550
465  13.675550
466  20.662183
467  84.154687
468  13.675550
469  13.675550
470  13.675550
471  13.675550
472  20.662183
473  20.662183
474  13.675550
475  84.154687
476  20.662183
477  13.675550
478  13.675550
479  13.675550
480  13.675550
481  20.662183
482  13.675550
483  13.675550
484  84.154687
485  13.675550
486  84.154687
487  84.154687
488  13.675550
489  13.675550
490  13.675550
491  13.675550
492  84.154687
493  84.154687
494  13.675550
495  13.675550
496  84.154687
497  13.675550
498  84.154687
499  13.675550
500  13.675550
501  13.675550
502  13.675550
503  13.675550
504  84.154687
505  84.154687
506  20.662183
507  84.154687
508  13.675550
509  13.675550
510  13.675550
511  13.675550
512  84.154687
513  84.154687
514  13.675550
515  84.154687
516  20.662183
517  13.675550
518  20.662183
519  13.675550
520  84.154687
521  13.675550
522  13.675550
523  84.154687
524  13.675550
525  13.675550
526  20.662183
527  84.154687
528  13.675550
529  20.662183
530  20.662183
531  13.675550
532  13.675550
533  13.675550
534  13.675550
535  20.662183
536  84.154687
537  84.154687
538  13.675550
539  84.154687
540  84.154687
541  13.675550
542  13.675550
543  20.662183
544  84.154687
545  84.154687
546  20.662183
547  20.662183
548  13.675550
549  20.662183
550  84.154687
551  20.662183
552  13.675550
553  13.675550
554  13.675550
555  84.154687
556  84.154687
557  84.154687
558  84.154687
559  13.675550
560  13.675550
561  13.675550
562  20.662183
563  13.675550
564  13.675550
565  13.675550
566  13.675550
567  13.675550
568  13.675550
569  13.675550
570  20.662183
571  84.154687
572  84.154687
573  13.675550
574  13.675550
575  13.675550
576  20.662183
577  84.154687
578  13.675550
579  13.675550
580  20.662183
581  84.154687
582  20.662183
583  84.154687
584  13.675550
585  84.154687
586  20.662183
587  84.154687
588  13.675550
589  13.675550
590  13.675550
591  84.154687
592  13.675550
593  13.675550
594  20.662183
595  13.675550
596  20.662183
597  13.675550
598  13.675550
599  84.154687
600  20.662183
601  13.675550
602  84.154687
603  13.675550
604  84.154687
605  13.675550
606  13.675550
607  84.154687
608  20.662183
609  84.154687
610  13.675550
611  13.675550
612  13.675550
613  13.675550
614  13.675550
615  20.662183
616  13.675550
617  13.675550
618  20.662183
619  20.662183
620  13.675550
621  84.154687
622  13.675550
623  13.675550
624  13.675550
625  84.154687
626  20.662183
627  84.154687
628  13.675550
629  13.675550
630  84.154687
631  13.675550
632  84.154687
633  84.154687
634  13.675550
635  20.662183
636  13.675550
637  20.662183
638  13.675550
639  13.675550
640  13.675550
641  84.154687
642  13.675550
643  13.675550
644  13.675550
645  84.154687
646  13.675550
647  84.154687
648  13.675550
649  13.675550
650  13.675550
651  20.662183
652  13.675550
653  13.675550
654  13.675550
655  20.662183
656  13.675550
657  13.675550
658  20.662183
659  84.154687
660  84.154687
661  13.675550
662  84.154687
663  13.675550
664  13.675550
665  20.662183
666  20.662183
667  13.675550
668  13.675550
669  84.154687
670  20.662183
671  84.154687
672  20.662183
673  20.662183
674  20.662183
675  13.675550
676  13.675550
677  13.675550
678  13.675550
679  84.154687
680  13.675550
681  84.154687
682  13.675550
683  13.675550
684  20.662183
685  20.662183
686  13.675550
687  13.675550
688  13.675550
689  84.154687
690  84.154687
691  13.675550
692  13.675550
693  13.675550
694  84.154687
695  20.662183
696  13.675550
697  13.675550
698  84.154687
699  13.675550
700  84.154687
701  84.154687
702  13.675550
703  13.675550
704  13.675550
705  20.662183
706  20.662183
707  84.154687
708  84.154687
709  13.675550
710  84.154687
711  84.154687
712  84.154687
713  13.675550
714  20.662183
715  13.675550
716  84.154687
717  20.662183
718  13.675550
719  13.675550
720  20.662183
721  13.675550
722  20.662183
723  20.662183
724  84.154687
725  13.675550
726  20.662183
727  13.675550
728  20.662183
729  13.675550
730  84.154687
731  13.675550
732  20.662183
733  20.662183
734  20.662183
735  13.675550
736  13.675550
737  84.154687
738  13.675550
739  13.675550
740  84.154687
741  84.154687
742  84.154687
743  13.675550
744  13.675550
745  84.154687
746  13.675550
747  20.662183
748  84.154687
749  13.675550
750  20.662183
751  13.675550
752  13.675550
753  13.675550
754  20.662183
755  20.662183
756  13.675550
757  20.662183
758  13.675550
759  84.154687
760  13.675550
761  13.675550
762  13.675550
763  84.154687
764  13.675550
765  84.154687
766  84.154687
767  13.675550
768  13.675550
769  13.675550
770  13.675550
771  13.675550
772  20.662183
773  13.675550
774  20.662183
775  13.675550
776  13.675550
777  13.675550
778  13.675550
779  84.154687
780  13.675550
781  84.154687
782  84.154687
783  13.675550
784  13.675550
785  13.675550
786  13.675550
787  13.675550
788  13.675550
789  84.154687
790  13.675550
791  20.662183
792  13.675550
793  84.154687
794  13.675550
795  20.662183
796  84.154687
797  13.675550
798  13.675550
799  13.675550
800  20.662183
801  20.662183
802  84.154687
803  13.675550
804  13.675550
805  13.675550
806  84.154687
807  13.675550
808  20.662183
809  84.154687
810  13.675550
811  13.675550
812  20.662183
813  13.675550
814  13.675550
815  84.154687
816  13.675550
817  20.662183
818  13.675550
819  13.675550
820  84.154687
821  13.675550
822  84.154687
823  13.675550
824  13.675550
825  13.675550
826  13.675550
827  20.662183
828  13.675550
829  84.154687
830  13.675550
831  20.662183
832  13.675550
833  13.675550
834  13.675550
835  84.154687
836  13.675550
837  13.675550
838  13.675550
839  84.154687
840  13.675550
841  20.662183
842  84.154687
843  13.675550
844  13.675550
845  13.675550
846  13.675550
847  13.675550
848  20.662183
849  84.154687
850  13.675550
851  13.675550
852  13.675550
853  84.154687
854  20.662183
855  13.675550
856  84.154687
857  84.154687
858  13.675550
859  13.675550
860  13.675550
861  20.662183
862  84.154687
863  13.675550
864  20.662183
865  20.662183
866  20.662183
867  84.154687
868  13.675550
869  13.675550
870  13.675550
871  84.154687
872  84.154687
873  13.675550
874  20.662183
875  13.675550
876  13.675550
877  13.675550
878  13.675550
879  84.154687
880  20.662183
881  13.675550
882  13.675550
883  20.662183
884  13.675550
885  13.675550
886  20.662183
887  84.154687
888  13.675550
889  84.154687
890  13.675550

In [ ]:
df["Fare_Mean"] = df.groupby('Pclass')["Fare"].transform('mean')
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_mean,Fare_Mean
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN,13.675550
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,84.154687,84.154687
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,20.662183,13.675550
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,13.675550,84.154687
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,NaN,13.675550
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,NaN,13.675550
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,NaN,84.154687
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,NaN,13.675550
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,NaN,13.675550
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,NaN,20.662183

Podemos aplicar tanto as operações mencionadas na agregação quanto uma função `lambda`:

In [ ]:
df['variacao_max_min'] = df.groupby('Pclass')[["Fare"]].transform(lambda x: x.max() - x.min())
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_mean,Fare_Mean,variacao_max_min
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN,13.675550,69.5500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,84.154687,84.154687,512.3292
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,20.662183,13.675550,69.5500
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,13.675550,84.154687,512.3292
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,NaN,13.675550,69.5500
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,NaN,13.675550,69.5500
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,NaN,84.154687,512.3292
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,NaN,13.675550,69.5500
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,NaN,13.675550,69.5500
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,NaN,20.662183,73.5000

Também podemos preencher os valores nulos com a média de cada grupo

In [ ]:
# verificando quantidade de nulos por coluna
df.isna().sum()

PassengerId           0
Survived              0
Pclass                0
Name                  0
Sex                   0
Age                 177
SibSp                 0
Parch                 0
Ticket                0
Fare                  0
Cabin               687
Embarked              2
fare_mean           888
Fare_Mean             0
variacao_max_min      0
dtype: int64

Para preencher os nulos utilizaremos o método `.fillna()` que veremos mais ainda hoje

In [ ]:
df['Age_sem_nulo'] = df.groupby(['Pclass'])[['Age']].transform(lambda x: x.fillna(x.mean()))

In [ ]:
df.isna().sum()

PassengerId           0
Survived              0
Pclass                0
Name                  0
Sex                   0
Age                 177
SibSp                 0
Parch                 0
Ticket                0
Fare                  0
Cabin               687
Embarked              2
fare_mean           888
Fare_Mean             0
variacao_max_min      0
Age_sem_nulo          0
dtype: int64

In [ ]:
# Conferindo o preenchimento de nulos
# idade média por Pclass
df.groupby(['Pclass'])[['Age']].mean()

              Age
Pclass
1       38.233441
2       29.877630
3       25.140620

In [ ]:
# selecionando a parte do df que tem idade nula
df[df.Age.isna()].head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_mean,Fare_Mean,variacao_max_min,Age_sem_nulo
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,NaN,13.675550,69.5500,25.140620
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,NaN,20.662183,73.5000,29.877630
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,NaN,13.675550,69.5500,25.140620
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,NaN,13.675550,69.5500,25.140620
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,NaN,13.675550,69.5500,25.140620
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,NaN,13.675550,69.5500,25.140620
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C,NaN,84.154687,512.3292,38.233441
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q,NaN,13.675550,69.5500,25.140620
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C,NaN,13.675550,69.5500,25.140620
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C,NaN,13.675550,69.5500,25.140620

#### Apply
O método `.apply()` recebe uma função como input e aplica ela para todo o df como se fosse um loop. Se você quiser que essa função seja aplicada nas colunas deve considerar axis=0 e nas linhas axis=1)

In [ ]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,fare_mean,Fare_Mean,variacao_max_min,Age_sem_nulo
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000,3.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208,39.497474,32.204208,177.706125,29.292875
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429,38.831731,29.528696,189.403904,13.210527
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,13.675550,13.675550,69.550000,0.420000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400,17.168867,13.675550,69.550000,22.000000
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200,20.662183,13.675550,69.550000,26.000000
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000,52.408435,20.662183,73.500000,37.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,84.154687,84.154687,512.329200,80.000000

In [ ]:
df.groupby(['Pclass']).apply(lambda x: x.describe())

              PassengerId    Survived  Pclass         Age       SibSp  \
Pclass
1      count   216.000000  216.000000   216.0  186.000000  216.000000
       mean    461.597222    0.629630     1.0   38.233441    0.416667
       std     246.737616    0.484026     0.0   14.802856    0.611898
       min       2.000000    0.000000     1.0    0.920000    0.000000
       25%     270.750000    0.000000     1.0   27.000000    0.000000
       50%     472.000000    1.000000     1.0   37.000000    0.000000
       75%     670.500000    1.000000     1.0   49.000000    1.000000
       max     890.000000    1.000000     1.0   80.000000    3.000000
2      count   184.000000  184.000000   184.0  173.000000  184.000000
       mean    445.956522    0.472826     2.0   29.877630    0.402174
       std     250.852161    0.500623     0.0   14.001077    0.601633
       min      10.000000    0.000000     2.0    0.670000    0.000000
       25%     234.500000    0.000000     2.0   23.000000    0.000000
       50%     435.500000    0.000000     2.0   29.000000    0.000000
       75%     668.000000    1.000000     2.0   36.000000    1.000000
       max     887.000000    1.000000     2.0   70.000000    3.000000
3      count   491.000000  491.000000   491.0  355.000000  491.000000
       mean    439.154786    0.242363     3.0   25.140620    0.615071
       std     264.441453    0.428949     0.0   12.495398    1.374883
       min       1.000000    0.000000     3.0    0.420000    0.000000
       25%     200.000000    0.000000     3.0   18.000000    0.000000
       50%     432.000000    0.000000     3.0   24.000000    0.000000
       75%     666.500000    0.000000     3.0   32.000000    1.000000
       max     891.000000    1.000000     3.0   74.000000    8.000000

                   Parch        Fare  fare_mean     Fare_Mean  \
Pclass
1      count  216.000000  216.000000   2.000000  2.160000e+02
       mean     0.356481   84.154687  48.915119  8.415469e+01
       std      0.693997   78.380373  49.836276  0.000000e+00
       min      0.000000    0.000000  13.675550  8.415469e+01
       25%      0.000000   30.923950  31.295334  8.415469e+01
       50%      0.000000   60.287500  48.915119  8.415469e+01
       75%      0.000000   93.500000  66.534903  8.415469e+01
       max      4.000000  512.329200  84.154687  8.415469e+01
2      count  184.000000  184.000000   0.000000  1.840000e+02
       mean     0.380435   20.662183        NaN  2.066218e+01
       std      0.690963   13.417399        NaN  3.562407e-15
       min      0.000000    0.000000        NaN  2.066218e+01
       25%      0.000000   13.000000        NaN  2.066218e+01
       50%      0.000000   14.250000        NaN  2.066218e+01
       75%      1.000000   26.000000        NaN  2.066218e+01
       max      3.000000   73.500000        NaN  2.066218e+01
3      count  491.000000  491.000000   1.000000  4.910000e+02
       mean     0.393075   13.675550  20.662183  1.367555e+01
       std      0.888861   11.778142        NaN  1.778169e-15
       min      0.000000    0.000000  20.662183  1.367555e+01
       25%      0.000000    7.750000  20.662183  1.367555e+01
       50%      0.000000    8.050000  20.662183  1.367555e+01
       75%      0.000000   15.500000  20.662183  1.367555e+01
       max      6.000000   69.550000  20.662183  1.367555e+01

              variacao_max_min  Age_sem_nulo
Pclass
1      count      2.160000e+02    216.000000
       mean       5.123292e+02     38.233441
       std        0.000000e+00     13.731315
       min        5.123292e+02      0.920000
       25%        5.123292e+02     29.000000
       50%        5.123292e+02     38.233441
       75%        5.123292e+02     47.250000
       max        5.123292e+02     80.000000
2      count      1.840000e+02    184.000000
       mean       7.350000e+01     29.877630
       std        0.000000e+00     13.573758
       min        7.350000e+01      0.670000
       25%        7.350000e+01     23.000000
       50%        7.350000e+01     29.877630
       75%        7.350000e+01     36.000000
       max        7.350000e+01     70.000000
3      count      4.910000e+02    491.000000
       mean       6.955000e+01     25.140620
       std        1.422535e-14     10.620713
       min        6.955000e+01      0.420000
       25%        6.955000e+01     20.250000
       50%        6.955000e+01     25.140620
       75%        6.955000e+01     29.000000
       max        6.955000e+01     74.000000

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_mean,Fare_Mean,variacao_max_min,Age_sem_nulo
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN,13.675550,69.5500,22.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,84.154687,84.154687,512.3292,38.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,20.662183,13.675550,69.5500,26.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,13.675550,84.154687,512.3292,35.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,NaN,13.675550,69.5500,35.0

In [ ]:
df.apply(lambda x: x['SibSp'] - x['Parch'], axis=1)

0      1
1      1
2      0
3      1
4      0
5      0
6      0
7      2
8     -2
9      1
10     0
11     0
12     0
13    -4
14     0
15     0
16     3
17     0
18     1
19     0
20     0
21     0
22     0
23     0
24     2
25    -4
26     0
27     1
28     0
29     0
30     0
31     1
32     0
33     0
34     1
35     1
36     0
37     0
38     2
39     1
40     1
41     1
42     0
43    -1
44     0
45     0
46     1
47     0
48     2
49     1
50     3
51     0
52     1
53     1
54    -1
55     0
56     0
57     0
58    -1
59     3
60     0
61     0
62     1
63     1
64     0
65     0
66     0
67     0
68     2
69     2
70     0
71     3
72     0
73     1
74     0
75     0
76     0
77     0
78    -2
79     0
80     0
81     0
82     0
83     0
84     0
85     3
86    -2
87     0
88     1
89     0
90     0
91     0
92     1
93    -1
94     0
95     0
96     0
97    -1
98    -1
99     1
100    0
101    0
102   -1
103    0
104    2
105    0
106    0
107    0
108    0
109    1
110    0
111    1
112    0
113    1
114    0
115    0
116    0
117    1
118   -1
119    2
120    2
121    0
122    1
123    0
124   -1
125    1
126    0
127    0
128    0
129    0
130    0
131    0
132    1
133    1
134    0
135    0
136   -2
137    1
138    0
139    0
140   -2
141    0
142    1
143    0
144    0
145    0
146    0
147    0
148   -2
149    0
150    0
151    1
152    0
153   -2
154    0
155   -1
156    0
157    0
158    0
159    6
160   -1
161    0
162    0
163    0
164    3
165   -2
166   -1
167   -3
168    0
169    0
170    0
171    3
172    0
173    0
174    0
175    0
176    2
177    0
178    0
179    0
180    6
181    0
182    2
183    1
184   -2
185    0
186    1
187    0
188    0
189    0
190    0
191    0
192    1
193    0
194    0
195    0
196    0
197   -1
198    0
199    0
200    0
201    6
202    0
203    0
204    0
205   -1
206    1
207    0
208    0
209    0
210    0
211    0
212    0
213    0
214    1
215    1
216    0
217    1
218    0
219    0
220    0
221    0
222    0
223    0
224    1
225    0
226    0
227    0
228    0
229    2
230    1
231    0
232    0
233    2
234    0
235    0
236    1
237   -2
238    0
239    0
240    1
241    1
242    0
243    0
244    0
245    2
246    0
247   -2
248    0
249    1
250    0
251    0
252    0
253    1
254   -2
255   -2
256    0
257    0
258    0
259   -1
260    0
261    2
262    0
263    0
264    0
265    0
266    3
267    1
268   -1
269    0
270    0
271    0
272   -1
273   -1
274    0
275    1
276    0
277    0
278    3
279    0
280    0
281    0
282    0
283    0
284    0
285    0
286    0
287    0
288    0
289    0
290    0
291    1
292    0
293    0
294    0
295    0
296    0
297   -1
298    0
299   -1
300    0
301    2
302    0
303    0
304    0
305   -1
306    0
307    1
308    1
309    0
310    0
311    0
312    0
313    0
314    0
315    0
316    1
317    0
318   -2
319    0
320    0
321    0
322    0
323    0
324    6
325    0
326    0
327    0
328    0
329   -1
330    2
331    0
332   -1
333    2
334    1
335    0
336    1
337    0
338    0
339    0
340    0
341    1
342    0
343    0
344    0
345    0
346    0
347    1
348    0
349    0
350    0
351    0
352    0
353    1
354    0
355    0
356   -1
357    0
358    0
359    0
360   -3
361    1
362   -1
363    0
364    1
365    0
366    1
367    0
368    0
369    0
370    1
371    1
372    0
373    0
374    2
375    1
376    0
377   -2
378    0
379    0
380    0
381   -2
382    0
383    1
384    0
385    0
386    3
387    0
388    0
389    0
390   -1
391    0
392    2
393    1
394   -2
395    0
396    0
397    0
398    0
399    0
400    0
401    0
402    1
403    1
404    0
405    1
406    0
407    0
408    0
409    2
410    0
411    0
412    1
413    0
414    0
415    0
416    0
417   -2
418    0
419   -2
420    0
421    0
422    0
423    0
424    0
425    0
426    1
427    0
428    0
429    0
430    0
431    1
432    1
433    0
434    1
435   -1
436    0
437   -1
438   -3
439    0
440    0
441    0
442    1
443    0
444    0
445   -2
446   -1
447    0
448    1
449    0
450   -1
451    1
452    0
453    1
454    0
455    0
456    0
457    1
458    0
459    0
460    0
461    0
462    0
463    0
464    0
465    0
466    0
467    0
468    0
469    1
470    0
471    0
472   -1
473    0
474    0
475    0
476    1
477    1
478    0
479   -1
480    3
481    0
482    0
483    0
484    1
485    2
486    1
487    0
488    0
489    0
490    1
491    0
492    0
493    0
494    0
495    0
496    1
497    0
498   -1
499    0
500    0
501    0
502    0
503    0
504    0
505    1
506   -2
507    0
508    0
509    0
510    0
511    0
512    0
513    1
514    0
515    0
516    0
517    0
518    1
519    0
520    0
521    0
522    0
523   -1
524    0
525    0
526    0
527    0
528    0
529    1
530    0
531    0
532    0
533   -2
534    0
535   -2
536    0
537    0
538    0
539   -2
540   -2
541    2
542    2
543    1
544    1
545    0
546    1
547    0
548    0
549    0
550   -2
551    0
552    0
553    0
554    0
555    0
556    1
557    0
558    0
559    1
560    0
561    0
562    0
563    0
564    0
565    2
566    0
567   -4
568    0
569    0
570    0
571    2
572    0
573    0
574    0
575    0
576    0
577    1
578    1
579    0
580    0
581    0
582    0
583    0
584    0
585   -2
586    0
587    0
588    0
589    0
590    0
591    1
592    0
593   -2
594    1
595    0
596    0
597    0
598    0
599    1
600    1
601    0
602    0
603    0
604    0
605    1
606    0
607    0
608   -1
609    0
610   -4
611    0
612    1
613    0
614    0
615   -1
616    0
617    1
618    1
619    0
620    1
621    1
622    0
623    0
624    0
625    0
626    0
627    0
628    0
629    0
630    0
631    0
632    0
633    0
634    1
635    0
636    0
637    0
638   -5
639    1
640    0
641    0
642    1
643    0
644    1
645    1
646    0
647    0
648    0
649    0
650    0
651   -1
652    0
653    0
654    0
655    2
656    0
657    0
658    0
659   -2
660    2
661    0
662    0
663    0
664    1
665    2
666    0
667    0
668    0
669    1
670    0
671    1
672    0
673    0
674    0
675    0
676    0
677    0
678   -5
679   -1
680    0
681    0
682    0
683    3
684    0
685   -1
686    3
687    0
688    0
689   -1
690    1
691   -1
692    0
693    0
694    0
695    0
696    0
697    0
698    0
699    0
700    1
701    0
702   -1
703    0
704    1
705    0
706    0
707    0
708    0
709    0
710    0
711    0
712    1
713    0
714    0
715    0
716    0
717    0
718    0
719    0
720   -1
721    1
722    0
723    0
724    1
725    0
726    3
727    0
728    1
729    1
730    0
731    0
732    0
733    0
734    0
735    0
736   -2
737    0
738    0
739    0
740    0
741    1
742    0
743    1
744    0
745    0
746    0
747    0
748    1
749    0
750    0
751   -1
752    0
753    0
754   -1
755    0
756    0
757    0
758    0
759    0
760    0
761    0
762    0
763   -1
764    0
765    1
766    0
767    0
768    1
769    0
770    0
771    0
772    0
773    0
774   -2
775    0
776    0
777    0
778    0
779   -1
780    0
781    1
782    0
783   -1
784    0
785    0
786    0
787    3
788   -1
789    0
790    0
791    0
792    6
793    0
794    0
795    0
796    0
797    0
798    0
799    0
800    0
801    0
802   -1
803   -1
804    0
805    0
806    0
807    0
808    0
809    1
810    0
811    0
812    0
813    2
814    0
815    0
816    0
817    0
818    0
819    1
820    0
821    0
822    0
823   -1
824    3
825    0
826    0
827   -2
828    0
829    0
830    1
831    0
832    0
833    0
834    0
835    0
836    0
837    0
838    0
839    0
840    0
841    0
842    0
843    0
844    0
845    0
846    6
847    0
848   -1
849    1
850    2
851    0
852    0
853   -1
854    1
855   -1
856    0
857    0
858   -3
859    0
860    2
861    1
862    0
863    6
864    0
865    0
866    1
867    0
868    0
869    0
870    0
871    0
872    0
873    0
874    1
875    0
876    0
877    0
878    0
879   -1
880   -1
881    0
882    0
883    0
884    0
885   -5
886    0
887    0
888   -1
889    0
890    0
dtype: int64

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_mean,Fare_Mean,variacao_max_min,Age_sem_nulo
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN,13.675550,69.5500,22.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,84.154687,84.154687,512.3292,38.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,20.662183,13.675550,69.5500,26.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,13.675550,84.154687,512.3292,35.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,NaN,13.675550,69.5500,35.0

In [ ]:
df.loc[136]

PassengerId                                  137
Survived                                       1
Pclass                                         1
Name                Newsom, Miss. Helen Monypeny
Sex                                       female
Age                                           19
SibSp                                          0
Parch                                          2
Ticket                                     11752
Fare                                     26.2833
Cabin                                        D47
Embarked                                       S
fare_mean                                    NaN
Fare_Mean                                84.1547
variacao_max_min                         512.329
Age_sem_nulo                                  19
Name: 136, dtype: object

In [ ]:
def subtract_two(x):
    return x['SibSp'] - x['Parch']

pd.DataFrame(df.groupby('Pclass').apply(subtract_two))

            0
Pclass
1      1    1
       3    1
       6    0
       11   0
       23   0
       27   1
       30   0
       31   1
       34   1
       35   1
       52   1
       54  -1
       55   0
       61   0
       62   1
       64   0
       83   0
       88   1
       92   1
       96   0
       97  -1
       102 -1
       110  0
       118 -1
       124 -1
       136 -2
       137  1
       139  0
       151  1
       155 -1
       166 -1
       168  0
       170  0
       174  0
       177  0
       185  0
       187  0
       194  0
       195  0
       209  0
       215  1
       218  0
       224  1
       230  1
       245  2
       248  0
       252  0
       256  0
       257  0
       258  0
       262  0
       263  0
       268 -1
       269  0
       270  0
       273 -1
       275  1
       284  0
       290  0
       291  1
       295  0
       297 -1
       298  0
       299 -1
       305 -1
       306  0
       307  1
       309  0
       310  0
       311  0
       318 -2
       319  0
       325  0
       329 -1
       331  0
       332 -1
       334  1
       336  1
       337  0
       339  0
       341  1
       351  0
       356 -1
       366  1
       369  0
       370  1
       373  0
       375  1
       377 -2
       380  0
       383  1
       390 -1
       393  1
       412  1
       430  0
       434  1
       435 -1
       438 -3
       445 -2
       447  0
       449  0
       452  0
       453  1
       456  0
       457  1
       460  0
       462  0
       467  0
       475  0
       484  1
       486  1
       487  0
       492  0
       493  0
       496  1
       498 -1
       504  0
       505  1
       507  0
       512  0
       513  1
       515  0
       520  0
       523 -1
       527  0
       536  0
       537  0
       539 -2
       540 -2
       544  1
       545  0
       550 -2
       555  0
       556  1
       557  0
       558  0
       571  2
       572  0
       577  1
       581  0
       583  0
       585 -2
       587  0
       591  1
       599  1
       602  0
       604  0
       607  0
       609  0
       621  1
       625  0
       627  0
       630  0
       632  0
       633  0
       641  0
       645  1
       647  0
       659 -2
       660  2
       662  0
       669  1
       671  1
       679 -1
       681  0
       689 -1
       690  1
       694  0
       698  0
       700  1
       701  0
       707  0
       708  0
       710  0
       711  0
       712  1
       716  0
       724  1
       730  0
       737  0
       740  0
       741  1
       742  0
       745  0
       748  1
       759  0
       763 -1
       765  1
       766  0
       779 -1
       781  1
       782  0
       789  0
       793  0
       796  0
       802 -1
       806  0
       809  1
       815  0
       820  0
       822  0
       829  0
       835  0
       839  0
       842  0
       849  1
       853 -1
       856  0
       857  0
       862  0
       867  0
       871  0
       872  0
       879 -1
       887  0
       889  0
2      9    1
       15   0
       17   0
       20   0
       21   0
       33   0
       41   1
       43  -1
       53   1
       56   0
       58  -1
       66   0
       70   0
       72   0
       78  -2
       84   0
       98  -1
       99   1
       117  1
       120  2
       122  1
       123  0
       133  1
       134  0
       135  0
       144  0
       145  0
       148 -2
       149  0
       150  0
       161  0
       178  0
       181  0
       183  1
       190  0
       191  0
       193  0
       199  0
       211  0
       213  0
       217  1
       219  0
       221  0
       226  0
       228  0
       232  0
       234  0
       236  1
       237 -2
       238  0
       239  0
       242  0
       247 -2
       249  1
       259 -1
       265  0
       272 -1
       277  0
       288  0
       292  0
       303  0
       308  1
       312  0
       314  0
       316  1
       317  0
       322  0
       323  0
       327  0
       340  0
       342  0
       343  0
       344  0
       345  0
       346  0
       357  0
       361  1
       385  0
       387  0
       389  0
       397  0
       398  0
       399  0
       405  1
       407  0
       413  0
       416  0
       417 -2
       418  0
       426  1
       427  0
       432  1
       437 -1
       439  0
       440  0
       443  0
       446 -1
       450 -1
       458  0
       463  0
       466  0
       472 -1
       473  0
       476  1
       481  0
       506 -2
       516  0
       518  1
       526  0
       529  1
       530  0
       535 -2
       543  1
       546  1
       547  0
       549  0
       551  0
       562  0
       570  0
       576  0
       580  0
       582  0
       586  0
       594  1
       596  0
       600  1
       608 -1
       615 -1
       618  1
       619  0
       626  0
       635  0
       637  0
       651 -1
       655  2
       658  0
       665  2
       666  0
       670  0
       672  0
       673  0
       674  0
       684  0
       685 -1
       695  0
       705  0
       706  0
       714  0
       717  0
       720 -1
       722  0
       723  0
       726  3
       728  1
       732  0
       733  0
       734  0
       747  0
       750  0
       754 -1
       755  0
       757  0
       772  0
       774 -2
       791  0
       795  0
       800  0
       801  0
       808  0
       812  0
       817  0
       827 -2
       831  0
       841  0
       848 -1
       854  1
       861  1
       864  0
       865  0
       866  1
       874  1
       880 -1
       883  0
       886  0
3      0    1
       2    0
       4    0
       5    0
       7    2
       8   -2
       10   0
       12   0
       13  -4
       14   0
       16   3
       18   1
       19   0
       22   0
       24   2
       25  -4
       26   0
       28   0
       29   0
       32   0
       36   0
       37   0
       38   2
       39   1
       40   1
       42   0
       44   0
       45   0
       46   1
       47   0
       48   2
       49   1
       50   3
       51   0
       57   0
       59   3
       60   0
       63   1
       65   0
       67   0
       68   2
       69   2
       71   3
       73   1
       74   0
       75   0
       76   0
       77   0
       79   0
       80   0
       81   0
       82   0
       85   3
       86  -2
       87   0
       89   0
       90   0
       91   0
       93  -1
       94   0
       95   0
       100  0
       101  0
       103  0
       104  2
       105  0
       106  0
       107  0
       108  0
       109  1
       111  1
       112  0
       113  1
       114  0
       115  0
       116  0
       119  2
       121  0
       125  1
       126  0
       127  0
       128  0
       129  0
       130  0
       131  0
       132  1
       138  0
       140 -2
       141  0
       142  1
       143  0
       146  0
       147  0
       152  0
       153 -2
       154  0
       156  0
       157  0
       158  0
       159  6
       160 -1
       162  0
       163  0
       164  3
       165 -2
       167 -3
       169  0
       171  3
       172  0
       173  0
       175  0
       176  2
       179  0
       180  6
       182  2
       184 -2
       186  1
       188  0
       189  0
       192  1
       196  0
       197 -1
       198  0
       200  0
       201  6
       202  0
       203  0
       204  0
       205 -1
       206  1
       207  0
       208  0
       210  0
       212  0
       214  1
       216  0
       220  0
       222  0
       223  0
       225  0
       227  0
       229  2
       231  0
       233  2
       235  0
       240  1
       241  1
       243  0
       244  0
       246  0
       250  0
       251  0
       253  1
       254 -2
       255 -2
       260  0
       261  2
       264  0
       266  3
       267  1
       271  0
       274  0
       276  0
       278  3
       279  0
       280  0
       281  0
       282  0
       283  0
       285  0
       286  0
       287  0
       289  0
       293  0
       294  0
       296  0
       300  0
       301  2
       302  0
       304  0
       313  0
       315  0
       320  0
       321  0
       324  6
       326  0
       328  0
       330  2
       333  2
       335  0
       338  0
       347  1
       348  0
       349  0
       350  0
       352  0
       353  1
       354  0
       355  0
       358  0
       359  0
       360 -3
       362 -1
       363  0
       364  1
       365  0
       367  0
       368  0
       371  1
       372  0
       374  2
       376  0
       378  0
       379  0
       381 -2
       382  0
       384  0
       386  3
       388  0
       391  0
       392  2
       394 -2
       395  0
       396  0
       400  0
       401  0
       402  1
       403  1
       404  0
       406  0
       408  0
       409  2
       410  0
       411  0
       414  0
       415  0
       419 -2
       420  0
       421  0
       422  0
       423  0
       424  0
       425  0
       428  0
       429  0
       431  1
       433  0
       436  0
       441  0
       442  1
       444  0
       448  1
       451  1
       454  0
       455  0
       459  0
       461  0
       464  0
       465  0
       468  0
       469  1
       470  0
       471  0
       474  0
       477  1
       478  0
       479 -1
       480  3
       482  0
       483  0
       485  2
       488  0
       489  0
       490  1
       491  0
       494  0
       495  0
       497  0
       499  0
       500  0
       501  0
       502  0
       503  0
       508  0
       509  0
       510  0
       511  0
       514  0
       517  0
       519  0
       521  0
       522  0
       524  0
       525  0
       528  0
       531  0
       532  0
       533 -2
       534  0
       538  0
       541  2
       542  2
       548  0
       552  0
       553  0
       554  0
       559  1
       560  0
       561  0
       563  0
       564  0
       565  2
       566  0
       567 -4
       568  0
       569  0
       573  0
       574  0
       575  0
       578  1
       579  0
       584  0
       588  0
       589  0
       590  0
       592  0
       593 -2
       595  0
       597  0
       598  0
       601  0
       603  0
       605  1
       606  0
       610 -4
       611  0
       612  1
       613  0
       614  0
       616  0
       617  1
       620  1
       622  0
       623  0
       624  0
       628  0
       629  0
       631  0
       634  1
       636  0
       638 -5
       639  1
       640  0
       642  1
       643  0
       644  1
       646  0
       648  0
       649  0
       650  0
       652  0
       653  0
       654  0
       656  0
       657  0
       661  0
       663  0
       664  1
       667  0
       668  0
       675  0
       676  0
       677  0
       678 -5
       680  0
       682  0
       683  3
       686  3
       687  0
       688  0
       691 -1
       692  0
       693  0
       696  0
       697  0
       699  0
       702 -1
       703  0
       704  1
       709  0
       713  0
       715  0
       718  0
       719  0
       721  1
       725  0
       727  0
       729  1
       731  0
       735  0
       736 -2
       738  0
       739  0
       743  1
       744  0
       746  0
       749  0
       751 -1
       752  0
       753  0
       756  0
       758  0
       760  0
       761  0
       762  0
       764  0
       767  0
       768  1
       769  0
       770  0
       771  0
       773  0
       775  0
       776  0
       777  0
       778  0
       780  0
       783 -1
       784  0
       785  0
       786  0
       787  3
       788 -1
       790  0
       792  6
       794  0
       797  0
       798  0
       799  0
       803 -1
       804  0
       805  0
       807  0
       810  0
       811  0
       813  2
       814  0
       816  0
       818  0
       819  1
       821  0
       823 -1
       824  3
       825  0
       826  0
       828  0
       830  1
       832  0
       833  0
       834  0
       836  0
       837  0
       838  0
       840  0
       843  0
       844  0
       845  0
       846  6
       847  0
       850  2
       851  0
       852  0
       855 -1
       858 -3
       859  0
       860  2
       863  6
       868  0
       869  0
       870  0
       873  0
       875  0
       876  0
       877  0
       878  0
       881  0
       882  0
       884  0
       885 -5
       888 -1
       890  0

In [ ]:
df.groupby(['Pclass']).apply(lambda x: x['SibSp'] + x['Parch'])

Pclass
1       1       1
        3       1
        6       0
        11      0
        23      0
        27      5
        30      0
        31      1
        34      1
        35      1
        52      1
        54      1
        55      0
        61      0
        62      1
        64      0
        83      0
        88      5
        92      1
        96      0
        97      1
        102     1
        110     0
        118     1
        124     1
        136     2
        137     1
        139     0
        151     1
        155     1
        166     1
        168     0
        170     0
        174     0
        177     0
        185     0
        187     0
        194     0
        195     0
        209     0
        215     1
        218     0
        224     1
        230     1
        245     2
        248     2
        252     0
        256     0
        257     0
        258     0
        262     2
        263     0
        268     1
        269     0
        270     0
        273     1
        275     1
        284     0
        290     0
        291     1
        295     0
        297     3
        298     0
        299     1
        305     3
        306     0
        307     1
        309     0
        310     0
        311     4
        318     2
        319     2
        325     0
        329     1
        331     0
        332     1
        334     1
        336     1
        337     0
        339     0
        341     5
        351     0
        356     1
        366     1
        369     0
        370     1
        373     0
        375     1
        377     2
        380     0
        383     1
        390     3
        393     1
        412     1
        430     0
        434     1
        435     3
        438     5
        445     2
        447     0
        449     0
        452     0
        453     1
        456     0
        457     1
        460     0
        462     0
        467     0
        475     0
        484     1
        486     1
        487     0
        492     0
        493     0
        496     1
        498     3
        504     0
        505     1
        507     0
        512     0
        513     1
        515     0
        520     0
        523     1
        527     0
        536     0
        537     0
        539     2
        540     2
        544     1
        545     0
        550     2
        555     0
        556     1
        557     0
        558     2
        571     2
        572     0
        577     1
        581     2
        583     0
        585     2
        587     2
        591     1
        599     1
        602     0
        604     0
        607     0
        609     0
        621     1
        625     0
        627     0
        630     0
        632     0
        633     0
        641     0
        645     1
        647     0
        659     2
        660     2
        662     0
        669     1
        671     1
        679     1
        681     0
        689     1
        690     1
        694     0
        698     2
        700     1
        701     0
        707     0
        708     0
        710     0
        711     0
        712     1
        716     0
        724     1
        730     0
        737     0
        740     0
        741     1
        742     4
        745     2
        748     1
        759     0
        763     3
        765     1
        766     0
        779     1
        781     1
        782     0
        789     0
        793     0
        796     0
        802     3
        806     0
        809     1
        815     0
        820     2
        822     0
        829     0
        835     2
        839     0
        842     0
        849     1
        853     1
        856     2
        857     0
        862     0
        867     0
        871     2
        872     0
        879     1
        887     0
        889     0
2       9       1
        15      0
        17      0
        20      0
        21      0
        33      0
        41      1
        43      3
        53      1
        56      0
        58      3
        66      0
        70      0
        72      0
        78      2
        84      0
        98      1
        99      1
        117     1
        120     2
        122     1
        123     0
        133     1
        134     0
        135     0
        144     0
        145     2
        148     2
        149     0
        150     0
        161     0
        178     0
        181     0
        183     3
        190     0
        191     0
        193     2
        199     0
        211     0
        213     0
        217     1
        219     0
        221     0
        226     0
        228     0
        232     0
        234     0
        236     1
        237     2
        238     0
        239     0
        242     0
        247     2
        249     1
        259     1
        265     0
        272     1
        277     0
        288     0
        292     0
        303     0
        308     1
        312     2
        314     2
        316     1
        317     0
        322     0
        323     2
        327     0
        340     2
        342     0
        343     0
        344     0
        345     0
        346     0
        357     0
        361     1
        385     0
        387     0
        389     0
        397     0
        398     0
        399     0
        405     1
        407     2
        413     0
        416     2
        417     2
        418     0
        426     1
        427     0
        432     1
        437     5
        439     0
        440     2
        443     0
        446     1
        450     3
        458     0
        463     0
        466     0
        472     3
        473     0
        476     1
        481     0
        506     2
        516     0
        518     1
        526     0
        529     3
        530     2
        535     2
        543     1
        546     1
        547     0
        549     2
        551     0
        562     0
        570     0
        576     0
        580     2
        582     0
        586     0
        594     1
        596     0
        600     3
        608     3
        615     3
        618     3
        619     0
        626     0
        635     0
        637     2
        651     1
        655     2
        658     0
        665     2
        666     0
        670     2
        672     0
        673     0
        674     0
        684     2
        685     3
        695     0
        705     0
        706     0
        714     0
        717     0
        720     1
        722     0
        723     0
        726     3
        728     1
        732     0
        733     0
        734     0
        747     0
        750     2
        754     3
        755     2
        757     0
        772     0
        774     4
        791     0
        795     0
        800     0
        801     2
        808     0
        812     0
        817     2
        827     2
        831     2
        841     0
        848     1
        854     1
        861     1
        864     0
        865     0
        866     1
        874     1
        880     1
        883     0
        886     0
3       0       1
        2       0
        4       0
        5       0
        7       4
        8       2
        10      2
        12      0
        13      6
        14      0
        16      5
        18      1
        19      0
        22      0
        24      4
        25      6
        26      0
        28      0
        29      0
        32      0
        36      0
        37      0
        38      2
        39      1
        40      1
        42      0
        44      0
        45      0
        46      1
        47      0
        48      2
        49      1
        50      5
        51      0
        57      0
        59      7
        60      0
        63      5
        65      2
        67      0
        68      6
        69      2
        71      7
        73      1
        74      0
        75      0
        76      0
        77      0
        79      0
        80      0
        81      0
        82      0
        85      3
        86      4
        87      0
        89      0
        90      0
        91      0
        93      3
        94      0
        95      0
        100     0
        101     0
        103     0
        104     2
        105     0
        106     0
        107     0
        108     0
        109     1
        111     1
        112     0
        113     1
        114     0
        115     0
        116     0
        119     6
        121     0
        125     1
        126     0
        127     0
        128     2
        129     0
        130     0
        131     0
        132     1
        138     0
        140     2
        141     0
        142     1
        143     0
        146     0
        147     4
        152     0
        153     2
        154     0
        156     0
        157     0
        158     0
        159    10
        160     1
        162     0
        163     0
        164     5
        165     2
        167     5
        169     0
        171     5
        172     2
        173     0
        175     2
        176     4
        179     0
        180    10
        182     6
        184     2
        186     1
        188     2
        189     0
        192     1
        196     0
        197     1
        198     0
        200     0
        201    10
        202     0
        203     0
        204     0
        205     1
        206     1
        207     0
        208     0
        210     0
        212     0
        214     1
        216     0
        220     0
        222     0
        223     0
        225     0
        227     0
        229     4
        231     0
        233     6
        235     0
        240     1
        241     1
        243     0
        244     0
        246     0
        250     0
        251     2
        253     1
        254     2
        255     2
        260     0
        261     6
        264     0
        266     5
        267     1
        271     0
        274     0
        276     0
        278     5
        279     2
        280     0
        281     0
        282     0
        283     0
        285     0
        286     0
        287     0
        289     0
        293     0
        294     0
        296     0
        300     0
        301     2
        302     0
        304     0
        313     0
        315     0
        320     0
        321     0
        324    10
        326     0
        328     2
        330     2
        333     2
        335     0
        338     0
        347     1
        348     2
        349     0
        350     0
        352     2
        353     1
        354     0
        355     0
        358     0
        359     0
        360     5
        362     1
        363     0
        364     1
        365     0
        367     0
        368     0
        371     1
        372     0
        374     4
        376     0
        378     0
        379     0
        381     2
        382     0
        384     0
        386     7
        388     0
        391     0
        392     2
        394     2
        395     0
        396     0
        400     0
        401     0
        402     1
        403     1
        404     0
        406     0
        408     0
        409     4
        410     0
        411     0
        414     0
        415     0
        419     2
        420     0
        421     0
        422     0
        423     2
        424     2
        425     0
        428     0
        429     0
        431     1
        433     0
        436     4
        441     0
        442     1
        444     0
        448     3
        451     1
        454     0
        455     0
        459     0
        461     0
        464     0
        465     0
        468     0
        469     3
        470     0
        471     0
        474     0
        477     1
        478     0
        479     1
        480     7
        482     0
        483     0
        485     4
        488     0
        489     2
        490     1
        491     0
        494     0
        495     0
        497     0
        499     0
        500     0
        501     0
        502     0
        503     0
        508     0
        509     0
        510     0
        511     0
        514     0
        517     0
        519     0
        521     0
        522     0
        524     0
        525     0
        528     0
        531     0
        532     2
        533     2
        534     0
        538     0
        541     6
        542     6
        548     2
        552     0
        553     0
        554     0
        559     1
        560     0
        561     0
        563     0
        564     0
        565     2
        566     0
        567     4
        568     0
        569     0
        573     0
        574     0
        575     0
        578     1
        579     0
        584     0
        588     0
        589     0
        590     0
        592     0
        593     2
        595     2
        597     0
        598     0
        601     0
        603     0
        605     1
        606     0
        610     6
        611     0
        612     1
        613     0
        614     0
        616     2
        617     1
        620     1
        622     2
        623     0
        624     0
        628     0
        629     0
        631     0
        634     5
        636     0
        638     5
        639     1
        640     0
        642     5
        643     0
        644     3
        646     0
        648     0
        649     0
        650     0
        652     0
        653     0
        654     0
        656     0
        657     2
        661     0
        663     0
        664     1
        667     0
        668     0
        675     0
        676     0
        677     0
        678     7
        680     0
        682     0
        683     7
        686     5
        687     0
        688     0
        691     1
        692     0
        693     0
        696     0
        697     0
        699     0
        702     1
        703     0
        704     1
        709     2
        713     0
        715     0
        718     0
        719     0
        721     1
        725     0
        727     0
        729     1
        731     0
        735     0
        736     4
        738     0
        739     0
        743     1
        744     0
        746     2
        749     0
        751     1
        752     0
        753     0
        756     0
        758     0
        760     0
        761     0
        762     0
        764     0
        767     0
        768     1
        769     0
        770     0
        771     0
        773     0
        775     0
        776     0
        777     0
        778     0
        780     0
        783     3
        784     0
        785     0
        786     0
        787     5
        788     3
        790     0
        792    10
        794     0
        797     0
        798     0
        799     2
        803     1
        804     0
        805     0
        807     0
        810     0
        811     0
        813     6
        814     0
        816     0
        818     0
        819     5
        821     0
        823     1
        824     5
        825     0
        826     0
        828     0
        830     1
        832     0
        833     0
        834     0
        836     0
        837     0
        838     0
        840     0
        843     0
        844     0
        845     0
        846    10
        847     0
        850     6
        851     0
        852     2
        855     1
        858     3
        859     0
        860     2
        863    10
        868     0
        869     2
        870     0
        873     0
        875     0
        876     0
        877     0
        878     0
        881     0
        882     0
        884     0
        885     5
        888     3
        890     0
dtype: int64

#### Transform X Apply
Com o `.transform()` podemos manipular **apenas uma coluna ou linha**, dependendo do parâmetro `axis`. Com o `.apply()` podemos manipular **várias colunas ou linhas** ao mesmo tempo.

## Cruzamento e concatenação de bases

Também é possível fazer **cruzamento de bases** com o pandas. 

Pra quem conhece SQL: esses são os joins!

Pra quem conhece Excel: essa é uma forma de fazer o procv!

Vamos supor que temos as notas de duas provas dos alunos separas em sheets diferentes do excel e queremos juntar essa notas em um único df.

In [ ]:
# ler os dados de diferentes sheets do mesmo excel "notas.xlsx"
import pandas as pd

df1 = pd.read_excel("notas.xlsx", sheet_name="notas1")
df2 = pd.read_excel("notas.xlsx", sheet_name="notas2")

In [ ]:
df1

   RA    aluno  prova1
0   1     joão      10
1   4     leia      10
2   2    maria       9
3   3      han       8
4   5     luke       7
5   7  obi wan      10

In [ ]:
df2

   RA   aluno  prova2
0   1    joão      10
1   4    leia      10
2   2   maria       9
3   3     han       8
4   5    luke       7
5   6  anakin      10

Repare que temos alunos distintos nos dois df

Diferentes tipos de join

![image.png](attachment:image.png)
Fonte: https://towardsdatascience.com/python-pandas-dataframe-join-merge-and-concatenate-84985c29ef78

O pandas possui dois métodos específicos para trabalharmos com o join de colunas entre df: `.merge()` e `.join()`. O `.merge()` fornece mais flexibilidade de trabalho e iremos utilizar e ele.

### pd.merge()
pd.merge(
    left,
    right,
    how="inner",
    on=None,
    left_on=None,
    right_on=None,
    left_index=False,
    right_index=False,
    sort=True,
    suffixes=("_x", "_y")
)

In [ ]:
df1

   RA    aluno  prova1
0   1     joão      10
1   4     leia      10
2   2    maria       9
3   3      han       8
4   5     luke       7
5   7  obi wan      10

In [ ]:
df2

   RA   aluno  prova2
0   1    joão      10
1   4    leia      10
2   2   maria       9
3   3     han       8
4   5    luke       7
5   6  anakin      10

In [ ]:
df3 = df1.copy()
df3.loc[5, 'RA'] = 6
df3

   RA    aluno  prova1
0   1     joão      10
1   4     leia      10
2   2    maria       9
3   3      han       8
4   5     luke       7
5   6  obi wan      10

In [ ]:
df_merge = df3.merge(df2, how='outer', suffixes=['_prova1', '_prova2'])
df_merge

   RA    aluno  prova1  prova2
0   1     joão    10.0    10.0
1   4     leia    10.0    10.0
2   2    maria     9.0     9.0
3   3      han     8.0     8.0
4   5     luke     7.0     7.0
5   6  obi wan    10.0     NaN
6   6   anakin     NaN    10.0

In [ ]:
df_merge.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
dtype: bool

In [ ]:
df_merge[df_merge.RA.duplicated()].RA.iloc[0]

6

In [ ]:
df_merge[df_merge.RA.duplicated()].RA.values

array([6])

In [ ]:
df_merge[df_merge.RA == df_merge[df_merge.RA.duplicated()].RA.values[0]]

   RA    aluno  prova1  prova2
5   6  obi wan    10.0     NaN
6   6   anakin     NaN    10.0

In [ ]:
valores_duplicados_em_RA = df_merge[df_merge.RA.duplicated()].RA.values
print(valores_duplicados_em_RA)
df_merge[df_merge.RA.isin(valores_duplicados_em_RA)]

[6]

   RA    aluno  prova1  prova2
5   6  obi wan    10.0     NaN
6   6   anakin     NaN    10.0

In [ ]:
df_merge.duplicated(subset=['RA'])

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [ ]:
df_merge[df_merge['aluno_prova1'] != df_merge['aluno_prova2']]

KeyError: 'aluno_prova1'

In [ ]:
df_merge[df_merge['aluno_prova1'] != df_merge['aluno_prova2']].drop(5, axis=0)

KeyError: 'aluno_prova1'

In [ ]:
df3.merge(df2, how='outer', on=['aluno'], suffixes=['_prova1', '_prova2'])

   RA_prova1    aluno  prova1  RA_prova2  prova2
0        1.0     joão    10.0        1.0    10.0
1        4.0     leia    10.0        4.0    10.0
2        2.0    maria     9.0        2.0     9.0
3        3.0      han     8.0        3.0     8.0
4        5.0     luke     7.0        5.0     7.0
5        6.0  obi wan    10.0        NaN     NaN
6        NaN   anakin     NaN        6.0    10.0

In [ ]:
[i for i in list(df3.merge(df2, how='outer', on=['aluno']).columns) if '_x' in i]

['RA_x']

In [ ]:
df3.merge(df2, how='outer', on=['aluno'])

   RA_x    aluno  prova1  RA_y  prova2
0   1.0     joão    10.0   1.0    10.0
1   4.0     leia    10.0   4.0    10.0
2   2.0    maria     9.0   2.0     9.0
3   3.0      han     8.0   3.0     8.0
4   5.0     luke     7.0   5.0     7.0
5   6.0  obi wan    10.0   NaN     NaN
6   NaN   anakin     NaN   6.0    10.0

In [ ]:
df_junto = df1.merge(df2, how='outer')

df_junto

   RA    aluno  prova1  prova2
0   1     joão    10.0    10.0
1   4     leia    10.0    10.0
2   2    maria     9.0     9.0
3   3      han     8.0     8.0
4   5     luke     7.0     7.0
5   7  obi wan    10.0     NaN
6   6   anakin     NaN    10.0

In [ ]:
df1.merge(df2, how="outer", on="RA")

   RA  aluno_x  prova1 aluno_y  prova2
0   1     joão    10.0    joão    10.0
1   4     leia    10.0    leia    10.0
2   2    maria     9.0   maria     9.0
3   3      han     8.0     han     8.0
4   5     luke     7.0    luke     7.0
5   7  obi wan    10.0     NaN     NaN
6   6      NaN     NaN  anakin    10.0

In [ ]:
df1.merge(df2, how="outer", on=["RA", "aluno"])

   RA    aluno  prova1  prova2
0   1     joão    10.0    10.0
1   4     leia    10.0    10.0
2   2    maria     9.0     9.0
3   3      han     8.0     8.0
4   5     luke     7.0     7.0
5   7  obi wan    10.0     NaN
6   6   anakin     NaN    10.0

In [ ]:
df1

   RA    aluno  prova1
0   1     joão      10
1   4     leia      10
2   2    maria       9
3   3      han       8
4   5     luke       7
5   7  obi wan      10

In [ ]:
df2

   RA   aluno  prova2
0   1    joão      10
1   4    leia      10
2   2   maria       9
3   3     han       8
4   5    luke       7
5   6  anakin      10

In [ ]:
df1[['RA', 'prova1']].merge(df2[['RA', 'prova2']], how="right", on=["RA"])

   RA  prova1  prova2
0   1    10.0      10
1   4    10.0      10
2   2     9.0       9
3   3     8.0       8
4   5     7.0       7
5   6     NaN      10

In [ ]:
df4 = df2.copy()

In [ ]:
df4.rename({'RA':'RA_p2', "aluno":'aluno_p2'}, inplace=True, axis=1)
df4

   RA_p2 aluno_p2  prova2
0      1     joão      10
1      4     leia      10
2      2    maria       9
3      3      han       8
4      5     luke       7
5      6   anakin      10

In [ ]:
df4.rename({'RA':'RA_p2', "aluno":'aluno_p2', 0:'indice_0'}, axis=0)

          RA_p2 aluno_p2  prova2
indice_0      1     joão      10
1             4     leia      10
2             2    maria       9
3             3      han       8
4             5     luke       7
5             6   anakin      10

In [ ]:
df1

   RA    aluno  prova1
0   1     joão      10
1   4     leia      10
2   2    maria       9
3   3      han       8
4   5     luke       7
5   7  obi wan      10

In [ ]:
df2

   RA   aluno  prova2
0   1    joão      10
1   4    leia      10
2   2   maria       9
3   3     han       8
4   5    luke       7
5   6  anakin      10

In [ ]:
df1.merge(df4, how='inner', left_on=['RA','aluno'], right_on=['RA_p2', 'aluno_p2']).drop(['RA_p2', 'aluno_p2'], axis=1)

   RA  aluno  prova1  prova2
0   1   joão      10      10
1   4   leia      10      10
2   2  maria       9       9
3   3    han       8       8
4   5   luke       7       7

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

'1.1.5'

In [ ]:
!pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pip in /home/patricia/.local/lib/python3.6/site-packages (21.3.1)

In [ ]:
df1.merge(df2, how='cross', on='RA')

KeyError: 'cross'

### pd.concat()
Diferente do `.merge()` e `.join()` que operam apenas com colunas, com o `.concat()` podemos especificar se queremos concatenar em linhas ou colunas.
Na concatenação de colunas o `.concat()` considerando o index dos df e não podemos especificar colunas.

pd.concat(
    objs,
    axis=0,
    join="outer",
    ignore_index=False,
    keys=None,
    levels=None,
    names=None,
    verify_integrity=False,
    copy=True,
)

In [ ]:
pd.concat([df1, df2], axis=1, join="outer")

   RA    aluno  prova1  RA   aluno  prova2
0   1     joão      10   1    joão      10
1   4     leia      10   4    leia      10
2   2    maria       9   2   maria       9
3   3      han       8   3     han       8
4   5     luke       7   5    luke       7
5   7  obi wan      10   6  anakin      10

Repare que ao concatenar diretamente pelo index ele juntou o aluno obi wan com o anakin. Para tirar esse erro podemos utilizar `ignore_index=True` e tirar o `axis=1`.

In [ ]:
pd.concat([df1, df2], join="outer", ignore_index=True)

    RA    aluno  prova1  prova2
0    1     joão    10.0     NaN
1    4     leia    10.0     NaN
2    2    maria     9.0     NaN
3    3      han     8.0     NaN
4    5     luke     7.0     NaN
5    7  obi wan    10.0     NaN
6    1     joão     NaN    10.0
7    4     leia     NaN    10.0
8    2    maria     NaN     9.0
9    3      han     NaN     8.0
10   5     luke     NaN     7.0
11   6   anakin     NaN    10.0

Ao concatenar dois df nas linhas, o `.concat()` irá considerar o nome das colunas. Se temos colunas com nomes distintos e utilizamos o parâmetro join='inner', ele irá ignorar essas colunas:

In [ ]:
pd.concat([df1, df2], axis=0, join="inner")

   RA    aluno
0   1     joão
1   4     leia
2   2    maria
3   3      han
4   5     luke
5   7  obi wan
0   1     joão
1   4     leia
2   2    maria
3   3      han
4   5     luke
5   6   anakin

## Exercícios

1. Considere a existência de três tabelas distintas:
* customer.csv : Possui a informação dos clientes em duas colunas: customer id  customer name
* products.csv : Contém informação dos produtos vendidos pela empresa em três colunas - p_id (product id), product (name) e price
* sales.csv : Contém informações das vendas realizadas em seis colunas - sale_id, c_id (customer id), p_id (product_id), qty (quantity sold), store (name)

Conhecendo as bases responda:

a) Quais foram os produtos vendidos?

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
customer = '/content/drive/MyDrive/Santander Coders/Modulo 2 Git Numpy Pandas/Dados/customer.csv'
products = '/content/drive/MyDrive/Santander Coders/Modulo 2 Git Numpy Pandas/Dados/products.csv'
sales = '/content/drive/MyDrive/Santander Coders/Modulo 2 Git Numpy Pandas/Dados/sales.csv'

In [48]:
import pandas as pd 
import numpy as np

df_customer = pd.read_csv(customer)
df_products = pd.read_csv(products)
df_sales = pd.read_csv(sales)

In [49]:
df_customer

   c_id Customer
0     1     Rabi
1     2     Raju
2     3     Alex
3     4     Rani
4     5     King
5     7     Ronn
6     8      Jem
7     9      Tom

In [50]:
df_products

   p_id       product  price
0     1     Hard Disk     80
1     2           RAM     90
2     3       Monitor     75
3     4           CPU     55
4     5      Keyboard     20
5     6         Mouse     10
6     7   Motherboard     50
7     8  Power supply     20

In [51]:
df_sales.drop('product', axis = 1, inplace = True)

In [52]:
df_sales

   sale_id  c_id  p_id  qty store
0        1     2     3    2   ABC
1        2     2     4    1   DEF
2        3     1     3    3   ABC
3        4     4     2    2   DEF
4        5     2     3    3   ABC
5        6     3     3    2   DEF
6        7     2     2    3   ABC
7        8     3     2    2   DEF
8        9     2     3    2   ABC

---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [53]:
df_prod_vendidos = pd.merge(left = df_sales, right = df_products, how = 'left', on = 'p_id')

In [54]:
df_prod_vendidos['product'].value_counts()

Monitor    5
RAM        3
CPU        1
Name: product, dtype: int64

b) E os não vendidos?

In [55]:
df_prod_nao_vendidos = pd.merge(left = df_sales, right = df_products, how = 'right', on = 'p_id')
df_prod_nao_vendidos

    sale_id  c_id  p_id  qty store       product  price
0       NaN   NaN     1  NaN   NaN     Hard Disk     80
1       4.0   4.0     2  2.0   DEF           RAM     90
2       7.0   2.0     2  3.0   ABC           RAM     90
3       8.0   3.0     2  2.0   DEF           RAM     90
4       1.0   2.0     3  2.0   ABC       Monitor     75
5       3.0   1.0     3  3.0   ABC       Monitor     75
6       5.0   2.0     3  3.0   ABC       Monitor     75
7       6.0   3.0     3  2.0   DEF       Monitor     75
8       9.0   2.0     3  2.0   ABC       Monitor     75
9       2.0   2.0     4  1.0   DEF           CPU     55
10      NaN   NaN     5  NaN   NaN      Keyboard     20
11      NaN   NaN     6  NaN   NaN         Mouse     10
12      NaN   NaN     7  NaN   NaN   Motherboard     50
13      NaN   NaN     8  NaN   NaN  Power supply     20

In [56]:
df_prod_nao_vendidos = df_prod_nao_vendidos.loc[np.isnan(df_prod_nao_vendidos['qty']), 'product']

In [57]:
df_prod_nao_vendidos.values

array(['Hard Disk', 'Keyboard', 'Mouse', 'Motherboard', 'Power supply'],
      dtype=object)

c) Quantos clientes não realizaram uma compra?

In [58]:
df_clientes_nao_comp = pd.merge(left = df_customer, right = df_sales, how = 'left', on = 'c_id')
df_clientes_nao_comp

    c_id Customer  sale_id  p_id  qty store
0      1     Rabi      3.0   3.0  3.0   ABC
1      2     Raju      1.0   3.0  2.0   ABC
2      2     Raju      2.0   4.0  1.0   DEF
3      2     Raju      5.0   3.0  3.0   ABC
4      2     Raju      7.0   2.0  3.0   ABC
5      2     Raju      9.0   3.0  2.0   ABC
6      3     Alex      6.0   3.0  2.0   DEF
7      3     Alex      8.0   2.0  2.0   DEF
8      4     Rani      4.0   2.0  2.0   DEF
9      5     King      NaN   NaN  NaN   NaN
10     7     Ronn      NaN   NaN  NaN   NaN
11     8      Jem      NaN   NaN  NaN   NaN
12     9      Tom      NaN   NaN  NaN   NaN

In [59]:
df_clientes_nao_comp = df_clientes_nao_comp.loc[np.isnan(df_clientes_nao_comp['qty']), 'Customer']

In [60]:
df_clientes_nao_comp.count()

4

d) Liste a quantidade vendida e o faturamento de cada produto

In [61]:
df_prod_vendidos

   sale_id  c_id  p_id  qty store  product  price
0        1     2     3    2   ABC  Monitor     75
1        2     2     4    1   DEF      CPU     55
2        3     1     3    3   ABC  Monitor     75
3        4     4     2    2   DEF      RAM     90
4        5     2     3    3   ABC  Monitor     75
5        6     3     3    2   DEF  Monitor     75
6        7     2     2    3   ABC      RAM     90
7        8     3     2    2   DEF      RAM     90
8        9     2     3    2   ABC  Monitor     75

In [62]:
df_prod_vendidos['faturamento'] = df_prod_vendidos['qty'] * df_prod_vendidos['price']
df_prod_vendidos

   sale_id  c_id  p_id  qty store  product  price  faturamento
0        1     2     3    2   ABC  Monitor     75          150
1        2     2     4    1   DEF      CPU     55           55
2        3     1     3    3   ABC  Monitor     75          225
3        4     4     2    2   DEF      RAM     90          180
4        5     2     3    3   ABC  Monitor     75          225
5        6     3     3    2   DEF  Monitor     75          150
6        7     2     2    3   ABC      RAM     90          270
7        8     3     2    2   DEF      RAM     90          180
8        9     2     3    2   ABC  Monitor     75          150

In [64]:
df_vendidos = df_prod_vendidos.groupby('product').sum()
df_vendidos.loc[:, ['qty','faturamento']]

         qty  faturamento
product
CPU        1           55
Monitor   12          900
RAM        7          630

e) Liste a quantidade vendida de cada produto por loja

In [71]:
df_lojas = df_prod_vendidos.groupby(['store','product']).sum()
print(df_lojas['qty'])

store  product
ABC    Monitor    10
       RAM         3
DEF    CPU         1
       Monitor     2
       RAM         4
Name: qty, dtype: int64

f) Qual loja teve maior faturamento?

In [74]:
df_lojas.groupby('store')['faturamento'].sum().idxmax()

'ABC'

g) Qual produto foi o mais vendido?

In [76]:
df_prod_vendidos.groupby('product')['qty'].sum().idxmax()

'Monitor'

## Referências
https://pandas.pydata.org/docs/user_guide/groupby.html
https://pandas.pydata.org/docs/user_guide/merging.html
https://towardsdatascience.com/python-pandas-dataframe-join-merge-and-concatenate-84985c29ef78

## Material extra

### Outros parâmetros do groupby por default
* as_index
* sort
* dropna # exclui nans nas keys

<br> Em todas o default do python é True <br>
df.groupby('Pclass', sort=False)["Fare"].mean()

In [ ]:
# dropna
df_list = [[1, 2, 3], [1, None, 4], [2, 1, 3], [1, 2, 2]]
df_dropna = pd.DataFrame(df_list, columns=["a", "b", "c"])
df_dropna

In [ ]:
# Default ``dropna`` is set to True, which will exclude NaNs in keys
df_dropna.groupby(by=["b"], dropna=True).sum()

In [ ]:
df_dropna.groupby(by=["b"], dropna=False).sum()

Repare que podemos chamar qualquer função do `pd.Series` ou  do `numpy`

In [ ]:
df.groupby(["Survived"]).mean()

Uma grande funcionalidade do pandas é o método `apply()`, utilizado para aplicar uma **função** (muitas vezes, uma **função lambda**) a uma coluna ou linha de um DataFrame

Uma função lambda nada mais é que uma **forma alternativa de declarar uma função**, de um jeito mais direto

In [ ]:
# função que retorna o dobro de um número usando def
def dobro(x):
    
    return 2*x

dobro(2)

In [ ]:
# função que retorna o dobro de um número usando lambda x
faz_dobro = lambda x: 2*x

In [ ]:
faz_dobro(6)

Vamos selecionar a coluna de idades...

In [ ]:
df["Age"]

Aplicando uma função lambda **a todos os elementos da coluna**, ou seja, **à todas as linhas da tabela, daquela coluna específica**:

Tomando cada idade + 2, usando a função lambda definida.

Essa função lambda é equivalente a:

```python

def funcao(x)

    return x + 2
```

In [ ]:
df["Age"].apply(lambda x: x + 2)

Um outro exemplo:

In [ ]:
# função: transforma todos os números em string, e concatena "!!!!!!!!!" à string
df["Age"].apply(lambda x: str(x) + "!!!!!!!!!")

Vamos usar uma função lambda para **extrair o sobrenome** dos nomes dos passageiros

Pra extrarir o sobrenome, note que este está separada do resto do nome por vírgula.

Para perceber isso, dê uma olhada na coluna de nomes:

In [ ]:
df["Name"]

Portanto, podemos usar a função para strings `split(",")`, com quebra na vírgula, e depois selecionar o primeiro elemento da lista gerada!

Vamos aproveitar e **criar uma nova coluna da base**, com os sobrenomes!

In [ ]:
df["Surname"] = df["Name"].apply(lambda x: x.split(",")[0])

In [ ]:
df["Surname"]

#### Filtros
O filtro retorna apenas um subset do nosso df. Aqui podemos aplicar filtros mais elaborados do que os vistos na última aula. <br>
Podemos, por exemplo, eliminar categorias do df que possuem apenas alguns elementos:

In [ ]:
df.SibSp.value_counts()

In [ ]:
df.shape

In [ ]:
def filter_func(x):
    return x['Fare'] - x.Fare_Mean < 100

# df_filter = df.groupby(['SibSp']).filter(lambda x: filter_func(x))

df_filter = df.groupby(['SibSp']).filter(lambda x: len(x) >20)
df_filter.shape

In [ ]:
df_filter.SibSp.value_counts()

Vamos supor que antes de afundar o titanic, o time de hapiness quisesse promover uma jogatina para os grupos (segmentado por classe e sexo) que possuem idade média acima de 30 anos.

In [ ]:
df.groupby(['Pclass','Sex'])[['Age']].mean()

como podemos filtrar nosso df para termos apenas os passageiros que pertecem a essas segmentações escolhidas?

In [ ]:
df.groupby(['Pclass','Sex']).filter(lambda x: x['Age'].mean()>30)

### Apply

E se quisessemos comparar o quanto cada passageiro pagou a mais ou a menos da média do Fare?

In [ ]:
def f(group):
    return pd.DataFrame({'Fare_original': group,
                         'Fare_variacao': group - group.mean()})

df[['Fare_original','Fare_variacao']] = df.groupby('Pclass')['Fare'].apply(f)

In [ ]:
df.head()